<section class="footerfirst">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 offset-3 pb-4 pt-4">
                <p class="text-center">
                    This site is designed, developed and hosted by <a href="https://www.nic.in/" target="_blank" style="color:#ffeb3b;"> National Informatics Centre (NIC) </a>, content provided by Higher Education Division, Ministry of Education, <a href="https://www.india.gov.in/"
                        target="_blank" style="color:#ffeb3b;"> Government of India</a>
                </p>
            </div>
        </div>
    </div>
</section>