<div class="container">
    <div class="error-404">
        <div class="error-code m-b-10 m-t-20"><i class="fa fa-ban" style="color: red;"></i></div>
        <h2 class="font-bold" style="color: red">Oops 401! Access Denied.</h2>
    
        <div class="error-desc">
             You do not have access to this page.
            <div><br/>
                <a (click)="homepage()" class="btn btn-warning" style="cursor: pointer;"><i class="fa fa-home"></i> Go back to Homepage</a>
            </div>
        </div>
    </div>
    </div>