
<div class="wrapper">

    <div class="panel-part">
  
       <section class="govtinfo">
          <div class="container">
              <div class="row  justify-content-between">
                 <div class="col-sm-4" style = "text-align: initial;">
                      <ul class="list-unstyled list-inline">
                          <li class="list-inline-item" style = "line-height: 132%;">
                              <a title="National Portal of India" target="_blank" href="http://india.gov.in">
                                  <span style= "margin-left: 60px;">भारत सरकार</span>
                                  <br> GOVERNMENT OF INDIA
                              </a>
                          </li>
                         
                          <li class="list-inline-item" style="padding-left: 10px;line-height: 132%;border-left: 1px solid #eeeeee;">
                              <a title="National Portal of India" target="_blank" href="http://india.gov.in">
                                  <span>शिक्षा मंत्रालय </span>
                                  <br> MINISTRY OF EDUCATION
                              </a>
                          </li>
                      </ul>
                  </div> 
              </div>
          </div>
      </section>
      <section class="headertop">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                      <img src="assets/images/sm.png" alt="AISHE" class="img-fluid mx-auto float-left logoleft" />
                      
                     
                      <h1 style= "margin-top: 25px;font-size: 140%;  line-height: 105%;font-weight: 400; "> <strong style = "font-weight: 600;font-size: 17px;">उच्‍चतर शिक्षा विभाग </strong>
                      <br>Department of Higher Education</h1>
                  </div>
                   <div class="col-lg-2 col-md-2 ">
                      <img src="assets/images/g20-logo.png" alt="" class="img-fluid mx-auto float-right logoright" style= "width: 110px; margin-top: 22px;">
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
                      <img src="assets/images/PM-UShA.png" alt="" class="img-fluid mx-auto float-right logoright" style="width: 169px;">
                  </div>
              </div>
          </div>
      </section>       
  </div>
   </div>