<div class="container-fluid reg-page-bg pl-4 pr-4 py-2">
    <div class="animated fadeInDown card shadow mb-4 pt-1 pb-2 pr-4 pl-4 bg-light mt-3">
        <table class="table table-sm table-bordered-none">
        
            <tbody>
              <tr>
                <td style="width: 25%;"><b>Overall Remarks on the proposal from the State/UT</b></td>
                <td><textarea class="textbox" id="remarks" name="remarks" rows="5" cols="70"></textarea></td>
              </tr>
              <tr>
                <td class="text-right"><b class="pr-5">e-Sign by PS only (mandatory)</b></td>
                <td><textarea class="textbox" id="esign" name="esign" rows="5" cols="70"></textarea></td>
              </tr>
            </tbody>
          </table>
  </div>
