<div class="container-fluid reg-page-bg pl-4 pr-4">
    <div class="form-group">
        <div class="form-row mr-0 ml-0">
            <div class="col-md-12 mt-0 badges p-2 mt-3">
                <div class="float-left">

                    <span class="font-weight-bolder text-lg">Component Mapping For :-</span><span
                        class="text-info font-weight-bolder text-lg">{{componentName}}</span>
                </div>
            </div>
        </div>
    </div>
    <mat-tab-group animationDuration="0ms" class="exam-tabing-steps" [(selectedIndex)]="selectedIndex"
        (selectedTabChange)="tabSelected($event)">
        <mat-tab label="Mapped">
            <div class="animated fadeInDown card mb-2 pb-1 pt-1 bg-light overflow-hidden">
                <div class="row col-md-12 overflow-hidden">
                    <div class="col-md-2 mt-4">
                        <label>Show</label>&nbsp;
                        <select [(ngModel)]="sharedService.pageSize" (ngModelChange)="onChange($event)">
                            <option *ngFor="let data of sharedService.pageSizeOptions" [value]="data">{{data}}</option>
                        </select>
                        entries
                    </div>
                    <div class="col-md-4 mt-2" *ngIf="showDropDown">
                        <mat-form-field class="d-block">
                            <mat-label>District</mat-label>
                            <mat-select [(ngModel)]="districtCode"  (selectionChange)="selectedIndex === 0?getMappedCollege():getInstituteList($event.value)">
                                <mat-select-filter [array]="variables" [displayMember]="'name'"
                                    (filteredReturn)="districtList = $event"></mat-select-filter>
                                    <mat-option value="0" *ngIf="selectedIndex === 0">--ALL--</mat-option>
                                <mat-option *ngFor="let item of districtList"
                                    [value]="item.distCode">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4" *ngIf="!showDropDown"></div>
                    <div class="col-md-6 mt-4">
                        <label>Search:</label>&nbsp;
                        <input type="text" size="40" (change)="updateResults()" (keyup)="updateResults()"
                            [(ngModel)]="searchText">
                    </div>
                </div>
                <div class="col-md-12 table-responsive">
                    <table class="table table-bordered table-sm">
                        <tr>
                            <th>S.No.</th>
                            <th>AISHE Code</th>
                            <th>Institute Name</th>
                            <th>Type</th>
                            <th *ngIf="showDropDown">Affiliated University</th>
                            <th>Address</th>
                            <th>Nodal Officer Name</th>
                            <th>Gender</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Status</th>
                            <th *ngIf="!isEsignDone">Action</th>
                        </tr>
                        <ng-container *ngFor="let item of mappedList | paginate : {
                itemsPerPage: sharedService.pageSize,
                currentPage: sharedService.page
              };
        let i = index
        ">
                            <tr>
                                <td style="width: 1%;">{{i+sharedService.StartLimit+1}}</td>
                                <td style="width: 10%;">{{item.aisheCode}}</td>
                                <td style="width: 15%;">{{item.name}}</td>
                                <td>{{showDropDown?item.managementName:item.universityType}}</td>
                                <td *ngIf="showDropDown" style="width: 25%;">{{item.affiliatingUniversityName}}
                                    (U-{{item.universityId}})</td>
                                    <td style="width: 17%;">{{item.addressLine1}} {{item.addressLin2}} {{item.city}}
                                        {{item.districtName}} {{item.stateName}}</td>
                                <td style="width: 35%;">{{item.firstName}}</td>
                                <td style="width: 5%;">{{item.genderName}}</td>
                                <td style="width: 17%;">{{item.email}}</td>
                                <td style="width: 10%;">{{item.mobile}}</td>
                                <td [style.color]="item.status === 'Filled' ? 'green' : 'red'">{{item.status}}</td>

                                <td  class="text-center" *ngIf="!isEsignDone">
                                    <mat-icon class="delete_icon" matTooltip="Click here to delete this mapping!  Once deleted, Userid of this institute will be made INACTIVE. In order to make it ACTIVE again, you need to go to 'VIEW USER Section' and ACTIVATE it. !" (click)="item?deleteCompenent(item.id):false" >delete</mat-icon></td>
                                    
                            </tr>
                        </ng-container>
                    </table>

                </div>
                <div class="row col-md-12 overflow-hidden">
                    <div class="col-md-3">

                        Showing {{sharedService.StartLimit + 1}} to {{sharedService.pageData ===
                        -1?0:sharedService.pageData}}
                        Of {{mappedList.length}}
                        entries
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <pagination-controls previousLabel="Prev" nextLabel="Next"
                            (pageChange)="handlePageChange($event,mappedList)" screenReaderPaginationLabel="Pagination"
                            screenReaderPageLabel="page"
                            screenReaderCurrentLabel="You're on page"></pagination-controls>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="To be Mapped">
            <div class="animated fadeInDown card mb-2 pb-1 pt-1 bg-light overflow-hidden">
                <div class="row col-md-12 overflow-hidden">
                    <div class="col-md-2 mt-4">
                        <label>Show</label>&nbsp;
                        <select [(ngModel)]="sharedService.pageSize" (ngModelChange)="onChange($event)">
                            <option *ngFor="let data of sharedService.pageSizeOptions" [value]="data">{{data}}</option>
                        </select>
                        entries
                    </div>
                    <div class="col-md-4 mt-2" *ngIf="showDropDown">
                        <mat-form-field class="d-block">
                            <mat-label>District</mat-label>
                            <mat-select [(ngModel)]="districtCode" (selectionChange)="getInstituteList($event.value)">
                                <mat-select-filter [array]="variables" [displayMember]="'name'"
                                    (filteredReturn)="districtList = $event"></mat-select-filter>
                                <mat-option *ngFor="let item of districtList"
                                    [value]="item.distCode">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4" *ngIf="!showDropDown"></div>
                    <div class="col-md-6 mt-4">
                        <label>Search:</label>&nbsp;
                        <input type="text" size="40" (change)="updateResults()" (keyup)="updateResults()"
                            [(ngModel)]="searchText">
                    </div>
                </div>
                <div class="col-md-12 table-responsive">
                    <table class="table table-bordered table-sm">
                        <tr>
                            <th>S.No.</th>
                            <th *ngIf="!isEsignDone">Select</th>
                            <th>AISHE Code</th>
                            <th>Institute Name</th>
                            <th>Type</th>
                            <th *ngIf="showDropDown">Affiliated University</th>
                            <th>Address</th>
                        </tr>
                        <ng-container *ngFor="let item of toBeMappedList | paginate : {
                itemsPerPage: sharedService.pageSize,
                currentPage: sharedService.page
              };
        let i = index
        ">
                            <tr>
                                <td style="width: 1%;">{{i+sharedService.StartLimit+1}}</td>
                                <td style="width: 1%;" *ngIf="!isEsignDone"><mat-checkbox class="example-margin" [(ngModel)]="item.checked"
                                        (change)="getCheckData($event.value,i)"></mat-checkbox></td>
                                <td style="width: 10%;">{{item.aisheCode}}</td>
                                <td>{{item.name}}</td>
                                <td>{{showDropDown?item.managementName:item.universityType}}</td>
                                <td *ngIf="showDropDown">{{item.affiliatingUniversityName}}
                                    (U-{{item.universityId}})</td>
                                <td >{{item.addressLine1}} {{item.addressLin2}} {{item.city}}
                                    {{item.districtName}} {{item.stateName}}</td>
                            </tr>
                        </ng-container>
                    </table>

                </div>
                <div class="row col-md-12 overflow-hidden">
                    <div class="col-md-3">

                        Showing {{sharedService.StartLimit + 1}} to {{sharedService.pageData ===
                        -1?0:sharedService.pageData}}
                        Of {{toBeMappedList.length}}
                        entries
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <pagination-controls previousLabel="Prev" nextLabel="Next"
                            (pageChange)="handlePageChange($event,toBeMappedList)" screenReaderPaginationLabel="Pagination"
                            screenReaderPageLabel="page"
                            screenReaderCurrentLabel="You're on page"></pagination-controls>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3 text-center" *ngIf="toBeMappedList.length !== 0">
                <div class="col-md-12" *ngIf="!isEsignDone">
                    <button class="btn btn-success btn-sm mr-2" type="submit" (click)="save()">Save</button>
                    <button class="btn btn-danger btn-sm mr-2">Reset</button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>