<div class="container-fluid reg-page-bg pl-4 pr-4">
    <div class="accordion-header mt-3 mb-3">
        <div class="header-title">
          <h2 *ngIf="paramId === sharedService.revPrposalV3">Proposal Re-Revision</h2>
        </div>

        <ul class="indicator-list"  *ngIf="paramId === sharedService.revPrposalV3">
          <li class="badge-no-change">No-Change</li>
          <li class="badge-delete">Deleted Record</li>
          <li class="badge-old-updated">Old Existing Record</li>
          <li class="badge-existing">Existing Record Updated</li>
          <li class="badge-new">New Addition</li>
        </ul>
      </div>
  <mat-tab-group animationDuration="0ms" class="exam-tabing-steps" [(selectedIndex)]="selectedIndex"
    (selectedTabChange)="tabSelected($event)">
    <mat-tab label="Infra Construction">
      <div class="form-group">
        <div class="form-row mr-0 ml-0">
          <div class="col-md-12 mt-0 badges p-2 mt-3 d-flex justify-content-between align-items-center">

            <!-- Left: Heading + Lock Message -->
            <div class="d-flex align-items-center">
              <span class="text-info font-weight-bold h6 mb-0">
                Details of Infrastructure proposed to be constructed:
              </span>
               <span
              *ngIf="paramId === sharedService.revPrposalV3 && FinalLockKey1"
              class="locked-badge ml-3"
            >
              <mat-icon class="locked-icon">lock</mat-icon>
              This Page is Locked
            </span>
            </div>

            <!-- Right: Add Button -->
            <div *ngIf="paramId === sharedService.revPrposalV3">
              <button
                mat-raised-button
                color="primary"
                (click)="add()"
                *ngIf="hideButton && !FinalLockKey1">
                <mat-icon class="mr-1">add</mat-icon>
                Add Data
              </button>
            </div>

          </div>
        </div>
      </div>
      <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden"  *ngIf="paramId === sharedService.revPrposalV3 && !booleanEntity.isInfraConstruction">
        <div class="row col-md-12 overflow-hidden" [ngStyle]="FinalLockKey1 && {'pointer-events': 'none'}"  [ngClass]="{disabledDiv:disabledPage}">
         
          <div class="col-md-6">
            <label class="label">{{sharedService.infra}}</label>&nbsp;
            <mat-radio-group aria-label="Select an option" [(ngModel)]="booleanEntity.isInfraConstruction">
              <mat-radio-button [value]=true>YES</mat-radio-button>
              <mat-radio-button [value]=false (click)="isList($event,this.infraConstructionList)">No</mat-radio-button>
            </mat-radio-group>&nbsp;&nbsp;
            <button class="btn btn-success btn-sm " type="submit"  *ngIf="!disabledPage && !booleanEntity.isInfraConstruction || paramId === sharedService.revPrposalV3" (click)="saveBooleanValue(booleanEntity.isInfraConstruction,this.insType === 'U' ? this.common.strengthUnivInfraCons : this.common.strengthClgInfraCons,sharedService.isInfraConstruction)">
              Save
            </button>
          </div>
          
        </div>
       
      </div>
      <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden" *ngIf="addUpdate">
        <form [formGroup]="infraConstruction">
          <div class="row col-md-12 overflow-hidden">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Description of Infrastructure</mat-label>
                <textarea matInput cols="4" rows="4" (keypress)="onKeypressEvent($event, 1000)"
                  formControlName="description" [errorStateMatcher]="errorMatcher" required></textarea>
                <mat-hint class="err-msgs"
                  *ngIf="infraConstruction.controls['description'].dirty || infraConstruction.controls['description'].value || infraConstruction.controls['description'].touched || isFormInvalid">
                  <span class="errorMessage" *ngIf="infraConstruction.controls['description'].hasError('required')">
                    Please enter.</span>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Purpose of Infrastructure</mat-label>
                <textarea matInput cols="4" rows="4" (keypress)="onKeypressEvent($event, 1000)"
                  formControlName="purpose" [errorStateMatcher]="errorMatcher" required></textarea>
                <mat-hint class="err-msgs"
                  *ngIf="infraConstruction.controls['purpose'].dirty || infraConstruction.controls['purpose'].value || infraConstruction.controls['purpose'].touched || isFormInvalid">
                  <span class="errorMessage" *ngIf="infraConstruction.controls['purpose'].hasError('required')">
                    Please enter.</span>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Proposed Area Sq. feet</mat-label>
                <input type="number" matInput formControlName="proposedArea" [errorStateMatcher]="errorMatcher"
                  (keypress)="onKeypressEvent($event, 6)">
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Total Cost per Sq. feet</mat-label>
                <input type="number" matInput formControlName="perUnitCost" [errorStateMatcher]="errorMatcher"
                   (keypress)="numberOnly($event,9)" >
              </mat-form-field>
              <div class="err-msgs" style="color: red;">(Rs. in absolute term)</div>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Total cost</mat-label>
                <input type="number" matInput formControlName="totalCost" [errorStateMatcher]="errorMatcher"
                  (keypress)="onKeypressEvent($event, 9)" required>
                <mat-hint class="err-msgs"
                  *ngIf="infraConstruction.controls['totalCost'].dirty || infraConstruction.controls['totalCost'].value || infraConstruction.controls['totalCost'].touched || isFormInvalid">
                  <span class="errorMessage" *ngIf="infraConstruction.controls['totalCost'].hasError('required')">
                    Please enter.</span>
                </mat-hint>
              </mat-form-field>
              <span class="err-msgs" style="color: red;">(Rs. in absolute term)</span>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Justification</mat-label>
                <textarea matInput (keypress)="onKeypressEvent($event, 1000)" cols="4" rows="4"
                  formControlName="justification" [errorStateMatcher]="errorMatcher" required></textarea>
                <mat-hint class="err-msgs"
                  *ngIf="infraConstruction.controls['justification'].dirty || infraConstruction.controls['justification'].value || infraConstruction.controls['justification'].touched || isFormInvalid">
                  <span class="errorMessage" *ngIf="infraConstruction.controls['justification'].hasError('required')">
                    Please enter.</span>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
        </form>

        <div class="form-group mt-3 text-center">
          <div class="col-md-12">
            <button class="btn btn-success btn-sm mr-2" (click)="saveTab1()" type="submit">{{addUpdateButton}}</button>
            <button class="btn btn-danger btn-sm mr-2" (click)="reset()">Reset</button>
            <button class="btn btn-warning btn-sm mr-2" (click)="close()">Close</button>
          </div>
        </div>
      </div>
      <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden" *ngIf="booleanEntity.isInfraConstruction">
        <div class="col-md-12 table-responsive">
          <table class="table table-sm table-bordered">
            <tr>
              <th>S.No.</th>
              <th>Description of Infrastructure</th>
              <th>Purpose of Infrastructure</th>
              <th>Proposed Area Sq. feet </th>
              <th>Total Cost per Sq. feet</th>
              <th>Total cost</th>
              <th>Justification</th>
              <th *ngIf="!FinalLockKey1">Action</th>
            </tr>
            <ng-container *ngFor="let item of infraConstructionList; trackBy: trackById; let i=index">
              <tr [ngClass]="getClass(item)" [title]="getTitle(item)">
                <td>{{i+1}}</td>
                <td><cfs-read-more>{{item.description}}</cfs-read-more></td>
                <td><cfs-read-more>{{item.purpose}}</cfs-read-more></td>
                <td>{{item.proposedArea}}</td>
                <td>{{item.perUnitCost?.toLocaleString('en-IN')}}</td>
                <td>{{item.totalCost?.toLocaleString('en-IN')}}</td>
                <td><cfs-read-more>{{item.justification}}</cfs-read-more></td>
                <td class="noWrapText" *ngIf="!FinalLockKey1">
                    <ng-container *ngIf="paramId === sharedService.revPrposalV3">
                    <mat-icon class="edit_icon" *ngIf="(item.v2 == true && item.rsV3 === null) || (item.v3 == true && item.rsV3 !== null) && paramId === sharedService.revPrposalV3" matTooltip="Edit" (click)="editRow(item)">edit</mat-icon>
                  <mat-icon class="delete_icon" matTooltip="Delete" *ngIf="(item.v2 == true && item.rsV3 === null) || (item.v3 == true && item.rsV3 !== null) && (paramId === sharedService.revPrposalV3)"
                    (click)="delete(item)">delete_forever</mat-icon>
                  <mat-icon class="restore_icon" matTooltip="Restore" *ngIf="item.v3 == false && paramId === sharedService.revPrposalV3 && item.rsV3.id === 2" (click)="restore(item)"
                    >restore_from_trash</mat-icon>
                  </ng-container>
                </td>
              </tr>
            </ng-container>

            <tr>
              <td></td>
              <td style="font-weight: 600;">Total </td>
              <td></td>
              <td style="font-weight: 600;">{{proposedArea?.toFixed(2)}}</td>
              <td style="font-weight: 600;">{{perUnitCost?.toLocaleString('en-IN')}}</td>
              <td style="font-weight: 600;">{{totalCost?.toLocaleString('en-IN')}}</td>
              <td></td>
              <td *ngIf="!FinalLockKey1"></td>

            </tr>

          </table>
        </div>
      </div>
    </mat-tab>


    <mat-tab label="Infra Renovation">
       <div class="form-group">
        <div class="form-row mr-0 ml-0">
          <div class="col-md-12 mt-0 badges p-2 mt-3 d-flex justify-content-between align-items-center">

            <!-- Left: Heading + Lock Message -->
            <div class="d-flex align-items-center">
              <span class="text-info font-weight-bold h6 mb-0">
                Details of Infrastructure proposed to be Renovated/upgradation:
              </span>
              <span
              *ngIf="paramId === sharedService.revPrposalV3 && FinalLockKey1"
              class="locked-badge ml-3"
            >
              <mat-icon class="locked-icon">lock</mat-icon>
              This Page is Locked
            </span>
            </div>

            <!-- Right: Add Button -->
            <div *ngIf="paramId === sharedService.revPrposalV3 && !FinalLockKey1">
              <button
                mat-raised-button
                color="primary"
                (click)="add()"
                *ngIf="hideButton && !FinalLockKey1">
                <mat-icon class="mr-1">add</mat-icon>
                Add Data
              </button>
            </div>

          </div>
        </div>
      </div>
      <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden" *ngIf="paramId === sharedService.revPrposalV3">
        <div class="row col-md-12 overflow-hidden" [ngStyle]="FinalLockKey1 && {'pointer-events': 'none'}" [ngClass]="{disabledDiv:disabledPage}">
         
          <div class="col-md-6">
            <label class="label">{{sharedService.renovated}}</label>&nbsp;
            <mat-radio-group aria-label="Select an option" [(ngModel)]="booleanEntity.isInfraRenovation">
              <mat-radio-button [value]=true>YES</mat-radio-button>
              <mat-radio-button [value]=false (click)="isList($event,this.renovatedList)">No</mat-radio-button>
            </mat-radio-group>&nbsp;&nbsp;
            <button class="btn btn-success btn-sm " type="submit"  *ngIf="paramId === sharedService.revPrposalV3" (click)="saveBooleanValue(booleanEntity.isInfraRenovation,this.insType === 'U' ? this.common.strengthUnivReno : this.common.strengthClgReno,sharedService.isInfraRenovation)">
              Save
            </button>
          </div>
          
        </div>
      </div>
      <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden" *ngIf="addUpdate && booleanEntity.isInfraRenovation">
        <form [formGroup]="infraRenovated">
          <div class="row col-md-12 overflow-hidden">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Description of Infrastructure</mat-label>
                <textarea matInput cols="4" rows="4" [errorStateMatcher]="errorMatcher" formControlName="description"
                  required></textarea>

                <mat-hint class="err-msgs"
                  *ngIf="infraRenovated.controls['description'].dirty || infraRenovated.controls['description'].value || infraRenovated.controls['description'].touched || isFormInvalid">
                  <span class="errorMessage" *ngIf="infraRenovated.controls['description'].hasError('required')">
                    Please enter.</span>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Detail of renovation/upgradation proposed</mat-label>
                <textarea matInput cols="4" rows="4" [errorStateMatcher]="errorMatcher" formControlName="detail"
                  required></textarea>

                <mat-hint class="err-msgs"
                  *ngIf="infraRenovated.controls['detail'].dirty || infraRenovated.controls['detail'].value || infraRenovated.controls['detail'].touched || isFormInvalid">
                  <span class="errorMessage" *ngIf="infraRenovated.controls['detail'].hasError('required')">
                    Please enter.</span>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Proposed Area Sq. feet</mat-label>
                <input type="number" matInput  (keypress)="onKeypressEvent($event,6)"
                  [errorStateMatcher]="errorMatcher" formControlName="proposedArea">
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Total Cost per Sq. feet</mat-label>
                <input type="number" matInput  (keypress)="numberOnly($event,9)"
                  [errorStateMatcher]="errorMatcher" formControlName="perUnitCost">
              </mat-form-field>
              <span class="err-msgs" style="color: red;">(Rs. in absolute term)</span>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Total cost</mat-label>
                <input type="number" matInput cols="4" rows="4" (keypress)="onKeypressEvent($event,9)"
                  [errorStateMatcher]="errorMatcher" formControlName="totalCost" required>
                <mat-hint class="err-msgs"
                  *ngIf="infraRenovated.controls['totalCost'].dirty || infraRenovated.controls['totalCost'].value || infraRenovated.controls['totalCost'].touched || isFormInvalid">
                  <span class="errorMessage" *ngIf="infraRenovated.controls['totalCost'].hasError('required')">
                    Please enter.</span>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Justification</mat-label>
                <textarea matInput cols="4" rows="4" [errorStateMatcher]="errorMatcher" formControlName="justification"
                  required></textarea>

                <mat-hint class="err-msgs"
                  *ngIf="infraRenovated.controls['justification'].dirty || infraRenovated.controls['justification'].value || infraRenovated.controls['justification'].touched || isFormInvalid">
                  <span class="errorMessage" *ngIf="infraRenovated.controls['justification'].hasError('required')">
                    Please enter.</span>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group mt-3 text-center">
            <div class="col-md-12">
              <button class="btn btn-success btn-sm mr-2" (click)="saveTab2()"
                type="submit">{{addUpdateButton}}</button>
              <button class="btn btn-danger btn-sm mr-2" (click)="reset()">Reset</button>
              <button class="btn btn-warning btn-sm mr-2" (click)="close()">Close</button>
            </div>
          </div>
        </form>
      </div>
      <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden" *ngIf="booleanEntity.isInfraRenovation">
        <div class="col-md-12 table-responsive">
          <table class="table-sm table table-bordered">
            <tr>
              <th>S.No.</th>
              <th>Description of Infrastructure</th>
              <th>Detail of renovation/upgradation proposed</th>
              <th>Proposed Area Sq. feet</th>
              <th>Total Cost per Sq. feet</th>
              <th>Total cost</th>
              <th>Justification</th>
              <th *ngIf="!FinalLockKey1">Action</th>
            </tr>
            <ng-container *ngFor="let obj of renovatedList; trackBy: trackById; let i=index">
              <tr [ngClass]="getClass(obj)" [title]="getTitle(obj)">
                <td>{{i+1}}</td>
                <td><cfs-read-more>{{obj.description}}</cfs-read-more></td>
                <td><cfs-read-more>{{obj.detail}}</cfs-read-more></td>
                <td>{{obj.proposedArea}}</td>
                <td>{{obj.perUnitCost?.toLocaleString('en-IN')}}</td>
                <td>{{obj.totalCost?.toLocaleString('en-IN')}}</td>
                <td><cfs-read-more>{{obj.justification}}</cfs-read-more></td>
                <td class="noWrapText" *ngIf="!FinalLockKey1">
                    <ng-container *ngIf="paramId === sharedService.revPrposalV3">
                    <mat-icon class="edit_icon" *ngIf="(obj.v2 == true && obj.rsV3 === null) || (obj.v3 == true && obj.rsV3 !== null) && paramId === sharedService.revPrposalV3" matTooltip="Edit" (click)="editRow(obj)">edit</mat-icon>
                  <mat-icon class="delete_icon" matTooltip="Delete" *ngIf="(obj.v2 == true && obj.rsV3 === null) || (obj.v3 == true && obj.rsV3 !== null) && (paramId === sharedService.revPrposalV3)"
                    (click)="delete(obj)">delete_forever</mat-icon>
                  <mat-icon class="restore_icon" matTooltip="Restore" *ngIf="obj.v3 == false && paramId === sharedService.revPrposalV3 && obj.rsV3.id === 2" (click)="restore(obj)"
                    >restore_from_trash</mat-icon>
                  </ng-container>
                  </td>
              </tr>
            </ng-container>

            <tr>
              <td></td>
              <td style="font-weight: 600;">Total </td>
              <td></td>
              <td style="font-weight: 600;">{{proposedArea?.toFixed(2)}}</td>
              <td style="font-weight: 600;">{{perUnitCost?.toLocaleString('en-IN')}}</td>
              <td style="font-weight: 600;">{{totalCost?.toLocaleString('en-IN')}}</td>
              <td></td>
              <td *ngIf="!FinalLockKey1"
              ></td>

            </tr>
          </table>
        </div>

      </div>
    </mat-tab>

    <mat-tab label="Equipment Procured">
      <div class="form-group">
        <div class="form-row mr-0 ml-0">
          <div class="col-md-12 mt-0 badges p-2 mt-3 d-flex justify-content-between align-items-center">

            <!-- Left: Heading + Lock Message -->
            <div class="d-flex align-items-center">
              <span class="text-info font-weight-bold h6 mb-0">
                Details of Equipment to be procured:
              </span>
              <span
              *ngIf="paramId === sharedService.revPrposalV3 && FinalLockKey1"
              class="locked-badge ml-3"
            >
              <mat-icon class="locked-icon">lock</mat-icon>
              This Page is Locked
            </span>
            </div>

            <!-- Right: Add Button -->
            <div *ngIf="paramId === sharedService.revPrposalV3">
              <button
                mat-raised-button
                color="primary"
                (click)="add()"
                *ngIf="hideButton && !FinalLockKey1">
                <mat-icon class="mr-1">add</mat-icon>
                Add Data
              </button>
            </div>

          </div>
        </div>
      </div>
      <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden" *ngIf="paramId === sharedService.revPrposalV3 && !booleanEntity.isEquipment">
        <div class="row col-md-12 overflow-hidden" [ngStyle]="FinalLockKey1 && {'pointer-events': 'none'}" [ngClass]="{disabledDiv:disabledPage}">
         
          <div class="col-md-6">
            <label class="label">{{sharedService.equipment}}</label>&nbsp;
            <mat-radio-group aria-label="Select an option" [(ngModel)]="booleanEntity.isEquipment">
              <mat-radio-button [value]=true>YES</mat-radio-button>
              <mat-radio-button [value]=false (click)="isList($event,this.equipmentList)">No</mat-radio-button>
            </mat-radio-group>&nbsp;&nbsp;
            <button class="btn btn-success btn-sm " type="submit"  *ngIf="paramId === sharedService.revPrposalV3" (click)="saveBooleanValue(booleanEntity.isEquipment,this.insType === 'U' ? this.common.strengthUnivEquip : this.common.strengthClgEquip,sharedService.isEquipment)">
              Save
            </button>
          </div>
          
        </div>
      </div>
    
      <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden" *ngIf="addUpdate">
        <form [formGroup]="equipment">
          <div class="row col-md-12 overflow-hidden">
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Name of the Equipment</mat-label>
                <textarea matInput cols="4" rows="4" [errorStateMatcher]="errorMatcher" formControlName="name"
                  required></textarea>

                <mat-hint class="err-msgs"
                  *ngIf="equipment.controls['name'].dirty || equipment.controls['name'].value || equipment.controls['name'].touched || isFormInvalid">
                  <span class="errorMessage" *ngIf="equipment.controls['name'].hasError('required')">
                    Please enter.</span>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Quantity</mat-label>
                <input type="number" matInput [errorStateMatcher]="errorMatcher" formControlName="quantity"
                  (keypress)="onKeypressEvent($event,9)">
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Cost per Unit</mat-label>
                <input type="number" matInput [errorStateMatcher]="errorMatcher" formControlName="perUnitCost"
                  (keypress)="onKeypressEvent($event,9)">
              </mat-form-field>
              <span class="err-msgs" style="color: red;">(Rs. in absolute term)</span>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Total Cost</mat-label>
                <input type="number" matInput [errorStateMatcher]="errorMatcher" formControlName="totalCost"
                  (keypress)="onKeypressEvent($event,9)" required>
                <mat-hint class="err-msgs"
                  *ngIf="equipment.controls['totalCost'].dirty || equipment.controls['totalCost'].value || equipment.controls['totalCost'].touched || isFormInvalid">
                  <span class="errorMessage" *ngIf="equipment.controls['totalCost'].hasError('required')">
                    Please enter.</span>
                </mat-hint>
              </mat-form-field>
              <span class="err-msgs" style="color: red;">(Rs. in absolute term)</span>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Justification</mat-label>
                <textarea matInput cols="4" rows="4" [errorStateMatcher]="errorMatcher" formControlName="justification"
                  required></textarea>

                <mat-hint class="err-msgs"
                  *ngIf="equipment.controls['justification'].dirty || equipment.controls['justification'].value || equipment.controls['justification'].touched || isFormInvalid">
                  <span class="errorMessage" *ngIf="equipment.controls['justification'].hasError('required')">
                    Please enter.</span>
                </mat-hint>
              </mat-form-field>
            </div>

          </div>

          <div class="form-group mt-3 text-center">
            <div class="col-md-12">
              <button class="btn btn-success btn-sm mr-2" (click)="saveTab3()"
                type="submit">{{addUpdateButton}}</button>
              <button class="btn btn-danger btn-sm mr-2" (click)="reset()">Reset</button>
              <button class="btn btn-warning btn-sm mr-2" (click)="close()">Close</button>
            </div>
          </div>
        </form>
      </div>
      <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden" *ngIf="booleanEntity.isEquipment">
        <div class="col-md-12 table-responsive ">
          <table class="table table-sm table-bordered">
            <tr>
              <th>S. No.</th>
              <th>Name of the Equipment</th>
              <th>Quantity</th>
              <th>Cost per Unit</th>
              <th>Total Cost</th>
              <th *ngIf="!FinalLockKey1">Action</th>
            </tr>
            <ng-container *ngFor="let obj of equipmentList; trackBy: trackById; let i=index">
              <tr [ngClass]="getClass(obj)" [title]="getTitle(obj)">
                <td>{{i+1}}</td>
                <td>{{obj.name}}</td>
                <td>{{obj.quantity}}</td>
                <td>{{obj.perUnitCost?.toLocaleString('en-IN')}}</td>
                <td>{{obj.totalCost?.toLocaleString('en-IN')}}</td>
                  <td class="noWrapText" *ngIf="!FinalLockKey1">
                    <ng-container *ngIf="paramId === sharedService.revPrposalV3">
                    <mat-icon class="edit_icon" *ngIf="(obj.v2 == true && obj.rsV3 === null) || (obj.v3 == true && obj.rsV3 !== null) && paramId === sharedService.revPrposalV3" matTooltip="Edit" (click)="editRow(obj)">edit</mat-icon>
                  <mat-icon class="delete_icon" matTooltip="Delete" *ngIf="(obj.v2 == true && obj.rsV3 === null) || (obj.v3 == true && obj.rsV3 !== null) && (paramId === sharedService.revPrposalV3)"
                    (click)="delete(obj)">delete_forever</mat-icon>
                  <mat-icon class="restore_icon" matTooltip="Restore" *ngIf="obj.v3 == false && paramId === sharedService.revPrposalV3 && obj.rsV3.id === 2" (click)="restore(obj)"
                    >restore_from_trash</mat-icon>
                  </ng-container>
                  </td>
              </tr>
            </ng-container>
            <tr>
              <td></td>
              <td style="font-weight: 600;">Total</td>
              <td style="font-weight: 600;">{{quantity}}</td>
              <td style="font-weight: 600;">{{perUnitCost?.toLocaleString('en-IN')}}</td>
              <td style="font-weight: 600;">{{totalCost?.toLocaleString('en-IN')}}</td>
              <td *ngIf="!FinalLockKey1"></td>

            </tr>
          </table>

        </div>
      </div>
    </mat-tab>

    <mat-tab label="Soft Component">
            <div class="form-group">
        <div class="form-row mr-0 ml-0">
          <div class="col-md-12 mt-0 badges p-2 mt-3 d-flex justify-content-between align-items-center">

            <!-- Left: Heading + Lock Message -->
            <div class="d-flex align-items-center">
              <span class="text-info font-weight-bold h6 mb-0">
                Details of Soft component activities
              </span>
              <span
              *ngIf="paramId === sharedService.revPrposalV3 && FinalLockKey1"
              class="locked-badge ml-3"
            >
              <mat-icon class="locked-icon">lock</mat-icon>
              This Page is Locked
            </span>
            </div>

            <!-- Right: Add Button -->
            <div *ngIf="paramId === sharedService.revPrposalV3">
              <button
                mat-raised-button
                color="primary"
                (click)="add()"
                *ngIf="hideButton && !FinalLockKey1">
                <mat-icon class="mr-1">add</mat-icon>
                Add Data
              </button>
            </div>

          </div>
        </div>
      </div>
      <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden" *ngIf="paramId === sharedService.revPrposalV3 && !booleanEntity.isSoftComponent">
      <div class="row col-md-12 overflow-hidden" [ngStyle]="FinalLockKey1 && {'pointer-events': 'none'}" [ngClass]="{disabledDiv:disabledPage}">
         
        <div class="col-md-6">
          <label class="label">{{sharedService.softComponent}}</label>&nbsp;
          <mat-radio-group aria-label="Select an option" [(ngModel)]="booleanEntity.isSoftComponent">
            <mat-radio-button [value]=true>YES</mat-radio-button>
            <mat-radio-button [value]=false (click)="isList($event,this.softComponentList)">No</mat-radio-button>
          </mat-radio-group>&nbsp;&nbsp;
          <button class="btn btn-success btn-sm " type="submit"  *ngIf="paramId === sharedService.revPrposalV3" (click)="saveBooleanValue(booleanEntity.isSoftComponent,this.insType === 'U' ? this.common.strengthUnivSoft : this.common.strengthClgSoft,sharedService.isSoftComponent)">
            Save
          </button>
        </div>
        
      </div>
      </div>
      <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden" *ngIf="addUpdate">
        <form [formGroup]="softComponent">
          <div class="row col-md-12 overflow-hidden">

            <div class="col-md-4">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Purpose</mat-label>
                <textarea matInput [errorStateMatcher]="errorMatcher" formControlName="purpose" cols="4" rows="4"
                  required></textarea>

                <mat-hint class="err-msgs"
                  *ngIf="softComponent.controls['purpose'].dirty || softComponent.controls['purpose'].value || softComponent.controls['purpose'].touched || isFormInvalid">
                  <span class="errorMessage" *ngIf="softComponent.controls['purpose'].hasError('required')">
                    Please enter.</span>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Details</mat-label>
                <textarea matInput [errorStateMatcher]="errorMatcher" formControlName="detail" cols="4" rows="4"
                  required></textarea>

                <mat-hint class="err-msgs"
                  *ngIf="softComponent.controls['detail'].dirty || softComponent.controls['detail'].value || softComponent.controls['detail'].touched || isFormInvalid">
                  <span class="errorMessage" *ngIf="softComponent.controls['detail'].hasError('required')">
                    Please enter.</span>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Expected outcome</mat-label>
                <textarea rows="4" cols="4" matInput [errorStateMatcher]="errorMatcher"
                  formControlName="expectedOutcome" required></textarea>
                <mat-hint class="err-msgs"
                  *ngIf="softComponent.controls['expectedOutcome'].dirty || softComponent.controls['expectedOutcome'].value || softComponent.controls['expectedOutcome'].touched || isFormInvalid">
                  <span class="errorMessage" *ngIf="softComponent.controls['expectedOutcome'].hasError('required')">
                    Please enter.</span>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Activity</mat-label>
                <input type="text" matInput [errorStateMatcher]="errorMatcher" formControlName="activity"
                  (keypress)="onKeypressEvent($event, 200)" required>
                <mat-hint class="err-msgs"
                  *ngIf="softComponent.controls['activity'].dirty || softComponent.controls['activity'].value || softComponent.controls['activity'].touched || isFormInvalid">
                  <span class="errorMessage" *ngIf="softComponent.controls['activity'].hasError('required')">
                    Please enter.</span>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Unit (Such as number of vocational courses, mentorship programmes, etc)</mat-label>
                <input type="number" matInput [errorStateMatcher]="errorMatcher" formControlName="unit"
                  (keypress)="onKeypressEvent($event,9)">
              </mat-form-field>
            </div>
         
            <div class="col-md-2">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Cost per Unit</mat-label>
                <input type="number" matInput [errorStateMatcher]="errorMatcher" formControlName="costPerUnit"
                  (keypress)="onKeypressEvent($event,9)">
              </mat-form-field>
              <span class="err-msgs" style="color: red;">(Rs. in absolute term)</span>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Total Cost</mat-label>
                <input type="number" matInput [errorStateMatcher]="errorMatcher" formControlName="totalCost"
                  (keypress)="onKeypressEvent($event,9)" required>
               
                <mat-hint class="err-msgs"
                  *ngIf="softComponent.controls['totalCost'].dirty || softComponent.controls['totalCost'].value || softComponent.controls['totalCost'].touched || isFormInvalid">
                  <span class="errorMessage" *ngIf="softComponent.controls['totalCost'].hasError('required')">
                    Please enter.</span>
                </mat-hint>
              </mat-form-field>
              <span class="err-msgs" style="color: red;">(Rs. in absolute term)</span>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label>Target number of beneficiaries</mat-label>
                <input type="number" matInput [errorStateMatcher]="errorMatcher"
                  formControlName="targetNumberOfBeneficiary" (keypress)="onKeypressEvent($event,9)" required>
                <mat-hint class="err-msgs"
                  *ngIf="softComponent.controls['targetNumberOfBeneficiary'].dirty || softComponent.controls['targetNumberOfBeneficiary'].value || softComponent.controls['targetNumberOfBeneficiary'].touched || isFormInvalid">
                  <span class="errorMessage"
                    *ngIf="softComponent.controls['targetNumberOfBeneficiary'].hasError('required')">
                    Please enter.</span>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
           

          <div class="form-group mt-3 text-center">
            <div class="col-md-12">
              <button class="btn btn-success btn-sm mr-2" (click)="saveTab4()"
                type="submit">{{addUpdateButton}}</button>
              <button class="btn btn-danger btn-sm mr-2" (click)="reset()">Reset</button>
              <button class="btn btn-warning btn-sm mr-2" (click)="close()">Close</button>
            </div>
          </div>
        </form>
      </div>
      <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden" *ngIf="booleanEntity.isSoftComponent"> 
        <div class="col-md-12 table-responsive ">
          <table class="table-sm table-bordered table">
            <tr>
              <th>S.No.</th>
              <th>Activity </th>
              <th>Purpose</th>
              <th>Details</th>
              <th>Unit (Such as number of vocational courses, mentorship programmes, etc)</th>
              <th>Cost per unit</th>
              <th>Total Cost</th>
              <th>Target number of beneficiaries</th>
              <th>Expected outcome</th>
              <th *ngIf="!FinalLockKey1">Action</th>
            </tr>
            <ng-container *ngFor="let obj of softComponentList; trackBy: trackById; let i=index">
              <tr [ngClass]="getClass(obj)" [title]="getTitle(obj)">
                <td>{{i+1}} </td>
                <td><cfs-read-more>{{obj.activity}}</cfs-read-more></td>
                <td><cfs-read-more>{{obj.purpose}}</cfs-read-more></td>
                <td><cfs-read-more>{{obj.detail}}</cfs-read-more></td>
                <td>{{obj.unit}}</td>
                <td>{{obj.costPerUnit?.toLocaleString('en-IN')}}</td>
                <td>{{obj.totalCost?.toLocaleString('en-IN')}}</td>
                <td>{{obj.targetNumberOfBeneficiary}}</td>
                <td><cfs-read-more>{{obj.expectedOutcome}}</cfs-read-more></td>

                <td class="noWrapText" *ngIf="!FinalLockKey1">
                    <ng-container *ngIf="paramId === sharedService.revPrposalV3">
                    <mat-icon class="edit_icon" *ngIf="(obj.v2 == true && obj.rsV3 === null) || (obj.v3 == true && obj.rsV3 !== null) && paramId === sharedService.revPrposalV3" matTooltip="Edit" (click)="editSofComponent(obj)">edit</mat-icon>
                  <mat-icon class="delete_icon" matTooltip="Delete" *ngIf="(obj.v2 == true && obj.rsV3 === null) || (obj.v3 == true && obj.rsV3 !== null) && (paramId === sharedService.revPrposalV3)"
                    (click)="delete(obj)">delete_forever</mat-icon>
                  <mat-icon class="restore_icon" matTooltip="Restore" *ngIf="obj.v3 == false && paramId === sharedService.revPrposalV3 && obj.rsV3.id === 2" (click)="restore(obj)"
                    >restore_from_trash</mat-icon>
                  </ng-container>
                </td>
              </tr>
            </ng-container>
             <tr>
              <td></td>
              <td></td>
              <td></td>
              <td style="font-weight: 600;">Total</td>
              <td style="font-weight: 600;">{{quantity}}</td>
              <td style="font-weight: 600;" class="rightAlign">{{perUnitCost?.toLocaleString('en-IN')}}</td>
              <td style="font-weight: 600;">{{totalCost?.toLocaleString('en-IN')}}</td>
              <td style="font-weight: 600;">{{targetNumber}}</td>
              <td></td>
              <td *ngIf="!FinalLockKey1"></td>

            </tr>
          </table>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>