<div class="container-fluid reg-page-bg p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="heading">OBJECTIVES OF PM-USHA </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-card class="border">

                    <mat-card-content>
                        <ol class="text-left list-style-cls">
                            <strong>The objectives of the scheme are:</strong><br>
                            <li>To improve the overall quality of existing state higher educational institutions by
                                ensuring their
                                conformity to prescribed norms and standards and adoption of accreditation as a quality
                                assurance
                                framework.
                            </li>
                            <li>Usher transformative reforms in the State higher education system by creating a
                                facilitating
                                institutional structure for planning and monitoring at the state level, promoting
                                autonomy in State
                                Universities, and improving governance in institutions.
                            </li>
                            <li>Implemention of recommendations of the NEP 2020 through funding support provided to
                                State HEIs.
                            </li>
                            <li>Ensure governance, academic, and examination (and evaluation) reforms in the State
                                higher
                                educational institutions and establish backward and forward linkages with school
                                education on one
                                hand and employment market, on the other hand, to facilitate self-reliance and thus
                                creating an
                                Atma-Nirbhar Bharat.
                            </li>
                            <li>Create an enabling atmosphere in the higher educational institutions to devote
                                themselves to
                                research and innovations.
                            </li>
                            <li>Correct regional imbalances in access to higher education by facilitating access to
                                high-quality
                                institutions in urban & semi‐urban areas, creating opportunities for students from rural
                                areas to
                                get access to better quality institutions, and setting up institutions in unserved &
                                underserved
                                areas.
                            </li>
                            <li>Developing infrastructure for ODL/Online/Digital mode of education in such States/UTs.
                            </li>
                            <li>Improve equity in higher education by providing adequate opportunities for higher
                                education to
                                socially deprived communities; promote inclusion of women, minorities, SC/ST/OBCs, and
                                special-abled
                                persons.
                            </li>
                            <li>To identify and fill up the existing gaps in higher education, by augmenting and
                                supporting the
                                State Governments’ efforts.
                            </li>
                            <li>Enhancing employability through skilling and vocationalization.
                            </li>
                            <li>Improving accreditation status of accredited institutions and getting accreditation of
                                non-accredited institutions.
                            </li>
                            <li>Providing better hostel facilities in remote areas.
                            </li>
                            <li>Establishing New Model Degree Colleges in the districts where there are no Government
                                and
                                Government-aided institutions.
                            </li>
                            <li>Focusing on low GER, Left Wing Extremism (LWE), border area districts, aspirational
                                districts and
                                districts with higher SC/ ST population.
                            </li>
                            <li>Focus on multidisciplinary education, including STEM, commerce and humanities fields of
                                education.
                            </li>
                        </ol>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>