<div class="container-fluid reg-page-bg p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="heading">INSTITUTIONAL STRUCTURE</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-card class="border">

                    <mat-card-content>
                        <ol class="text-left list-style-cls">
                            <li>PM-USHA shall be implemented and monitored through an institutional
                                structure of bodies with clearly defined roles and powers at the Central, State,
                                and institutional levels. All the bodies shall monitor the progress of the
                                scheme at their respective levels, starting right from the institutional level up
                                to the national level.
                            </li>
                            <strong>A.CENTRAL LEVEL STRUCTURE</strong> <br><br>
                            <li>The central level structure comprises four bodies namely
                                <ul>
                                    <li>National Mission Authority (NMA) which would be chaired by Hon’ble
                                        Education Minister, GoI</li>
                                    <li>Project Approval Board (PAB) which would be chaired by Secretary
                                        (Higher Education), GoI</li>
                                    <li>National Project Directorate (NPD)</li>
                                    <li>Technical Support Group (TSG) </li>
                                </ul>
                            </li>
                            <strong>B.STATE LEVEL STRUCTURE</strong> <br><br>
                            <li>STATE LEVEL STRUCTURE State level structure is comprised of three bodies namely
                                <ul>
                                    <li>State Higher Education Council (SHEC)</li>
                                    <li>State Project Directorate (SPD)</li>
                                    <li>State Technical Support Group (State-TSG)</li>
                                </ul>
                            </li>
                            <strong>C.INSTITUTIONAL LEVEL STRUCTURE</strong> <br><br>

                            <li>The project at the institutional level is managed by two bodies:
                                <ul>
                                    <li>Board of Governors (BOGs)</li>
                                    <li>Project Monitoring Unit (PMU)</li>
                                </ul>
                            </li>
                        </ol>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>