<div class="container-fluid reg-page-bg pl-4 pr-4">
  <div class="form-group">
    <div class="form-row mr-0 ml-0">
      <div class="col-md-12 mt-0 badges p-2 mt-3">
        <div class="float-left">
          <span class="text-info font-weight-bolder text-lg">Activity Log</span>
        </div>
      </div>
    </div>
  </div>
  <div class="animated fadeInDown card mb-2 pb-1 pt-1 bg-light overflow-hidden">
    <div class="row col-md-12 overflow-hidden">
      <div class="col-md-2 mt-4">
        <label>Show</label>&nbsp;
        <select [(ngModel)]="sharedService.pageSize" (ngModelChange)="onChange($event)">
          <option *ngFor="let data of sharedService.pageSizeOptions" [value]="data">{{data}}</option>
        </select>
        entries
      </div>

      <div class="col-md-2 mt-2">
        <mat-form-field class="d-block">
          <mat-label>User Id</mat-label>
          <mat-select [(ngModel)]="userId" (selectionChange)="getActivity()">
            <mat-select-filter [array]="userListTemp" [displayMember]="'userName'"
              (filteredReturn)="userList = $event"></mat-select-filter>
            <mat-option [value]="obj.userName" *ngFor="let obj of userList">{{obj.userName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2 mt-2">
        <mat-form-field class="d-block">
          <mat-label>Activity</mat-label>
          <mat-select [(ngModel)]="activity" (selectionChange)="getActivity()">
            <mat-option *ngFor="let ele of sharedService.activityMaster" [value]="ele.value">{{ele.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6 mt-4">
        <label>Search:</label>&nbsp;
        <input type="text" size="40" (change)="updateResults()" (keyup)="updateResults()" [(ngModel)]="searchText">
      </div>
    </div>
  </div>

  <div class="animated fadeInDown card mb-4 pt-2 bg-light">
    <form>
      <div class="col-md-12 table-responsive">
        <table class="table table-bordered table-sm">
          <tr>
            <th>S.No</th>
            <th>Activity</th>
            <th>Done By</th>
            <th>Date Time</th>
            <th>IP Address </th>
          </tr>
          <ng-container *ngFor="let item of activityList | paginate : {
                  itemsPerPage: sharedService.pageSize,
                  currentPage: sharedService.page
                
                };
                let i = index
              ">
            <tr>
              <td>{{i+sharedService.StartLimit + 1}}</td>
              <td>{{item.actionName}}</td>
              <td>{{item.modifiedBy}}</td>
              <td>{{item.actionTime}}</td>
              <td>{{item.ipAddress}}</td>
            </tr>
          </ng-container>
        </table>
      </div>

    </form>
    <div class="row col-md-12 overflow-hidden">
      <div class="col-md-3">
        Showing {{sharedService.StartLimit + 1}} to {{sharedService.pageData ===-1?0:sharedService.pageData}} Of
        {{activityList.length}} entries
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <pagination-controls maxSize="12" previousLabel="Prev" nextLabel="Next" responsive="true" directionLinks="true"
          autoHide="true" (pageChange)="handlePageChange($event)" screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
      </div>
    </div>
  </div>
</div>