<div class="container-fluid reg-page-bg pl-4 pr-4">
    <div class="animated fadeInDown card shadow mb-4 pt-1 pb-2 pr-4 pl-4 bg-light">
      
      <mat-tab-group animationDuration="0ms" class="exam-tabing-steps" >
        
      <mat-tab label="Infra Construction">
        <div class="form-group">
            <div class="form-row mr-0 ml-0">
              <div class="col-md-12 mt-0 badges p-2 mt-3">
                <div class="float-left">
                  <span class="text-info font-weight-bolder text-lg">Details of Infrastructure proposed to be constructed:
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden">
            <div class="col-md-12 table-responsive ">
            <table>
                <tr>
                  <th>S.No.</th>
                  <th>Description of Infrastructure</th>
                  <th>Purpose of Infrastructure</th>
                  <th>Proposed Area Sq. feet </th>
                  <th>Total Cost per Sq. feet</th>
                  <th>Total cost</th>
                  <th>Justification</th>

                </tr>
                <tr>
                  <td contenteditable='false'>1 </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>

                </tr>
                <tr>
                  <td contenteditable='false'>Total </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>

                </tr>

              </table>
</div>
          </div>
      </mat-tab>


      <mat-tab label="Infra Renovation">
        <div class="form-group">
            <div class="form-row mr-0 ml-0">
              <div class="col-md-12 mt-0 badges p-2 mt-3">
                <div class="float-left">
                  <span class="text-info font-weight-bolder text-lg">Details of Infrastructure proposed to be Renovated/upgradation:
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden">
            <div class="col-md-12 table-responsive ">
              <table class="table-sm table">
                <tr>
                  <th>S.No.</th>
                  <th>Description of Infrastructure</th>
                  <th>Detail of renovation/upgradation proposed</th>
                  <th>Proposed Area Sq. feet</th>
                  <th>Total Cost per Sq. feet</th>
                  <th>Total cost</th>
                  <th>Justification</th>

                </tr>
                <tr>
                  <td contenteditable='false'>1 </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>

                </tr>
                <tr>
                  <td contenteditable='false'>Total </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>
                  <td><input type="text" class="form-control form-control-sm"> </td>

                </tr>
              </table>
              </div>
     </div>
        </mat-tab>

        <mat-tab label="Equipment Procured">
          <div class="form-group">
              <div class="form-row mr-0 ml-0">
                <div class="col-md-12 mt-0 badges p-2 mt-3">
                  <div class="float-left">
                    <span class="text-info font-weight-bolder text-lg">Details of Equipment to be procured:
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden">
              <div class="col-md-12 table-responsive ">
                <table class="table table-responsive">
                  <tr>
                    <th>S.No.</th>
                    <th>Name of the Equipment</th>
                    <th>Quantity</th>
                    <th>Cost per Unit</th>
                    <th>Total Cost</th>
                    <th>Justification</th>
                  </tr>
                  <tr>
                    <td contenteditable="false">1</td>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="text" class="form-control" /></td>
                  </tr>
                  <tr>
                    <td contenteditable="false">Total</td>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="text" class="form-control" /></td>
                  </tr>
                </table>
                </div>
       </div>
          </mat-tab>

          <mat-tab label="Soft Component">
            <div class="form-group">
                <div class="form-row mr-0 ml-0">
                  <div class="col-md-12 mt-0 badges p-2 mt-3">
                    <div class="float-left">
                      <span class="text-info font-weight-bolder text-lg">Details of Soft component activities
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden">
                <div class="col-md-12 table-responsive ">
                  <table class="table-sm table">
                    <tr>
                      <th>S.No.</th>
                      <th>Activity </th>
                      <th>Purpose</th>
                      <th>Details</th>
                      <th>Unit (Such as number of vocational courses, mentorship programmes, etc)</th>
                      <th>Cost per unit</th>
                      <th>Total Cost</th>
                      <th>Target number of beneficiaries</th>
                      <th>Expected outcome</th>
                    </tr>
                    <tr>
                      <td contenteditable='false'>1 </td>
                      <td><input type="text" class="form-control form-control-sm"> </td>
                      <td><input type="text" class="form-control form-control-sm"> </td>
                      <td><input type="text" class="form-control form-control-sm"> </td>
                      <td><input type="text" class="form-control form-control-sm"> </td>
                      <td><input type="text" class="form-control form-control-sm"> </td>
                      <td><input type="text" class="form-control form-control-sm"> </td>
                      <td><input type="text" class="form-control form-control-sm"> </td>
                      <td><input type="text" class="form-control form-control-sm"> </td>
    
    
    
                    </tr>
                    <tr>
                      <td contenteditable='false'>Total </td>
                      <td><input type="text" class="form-control form-control-sm"> </td>
                      <td><input type="text" class="form-control form-control-sm"> </td>
                      <td><input type="text" class="form-control form-control-sm"> </td>
                      <td><input type="text" class="form-control form-control-sm"> </td>
                      <td><input type="text" class="form-control form-control-sm"> </td>
                      <td><input type="text" class="form-control form-control-sm"> </td>
                      <td><input type="text" class="form-control form-control-sm"> </td>
                      <td><input type="text" class="form-control form-control-sm"> </td>
    
                    </tr>
                  </table>
                  </div>
         </div>
            </mat-tab>



                <mat-tab label="Proposed Courses ">
                  <div class="form-group">
                      <div class="form-row mr-0 ml-0">
                        <div class="col-md-12 mt-0 badges p-2 mt-3">
                          <div class="float-left">
                            <span class="text-info font-weight-bolder text-lg">Courses proposed to be added:
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden">
                      <div class="col-md-12 table-responsive ">
                        <table class="table-sm table">
                          <tr>
                            <th>S.No.</th>
                            <th>Departments </th>
                            <th>Level </th>
                            <th>Programme </th>
                            <th>Course</th>
                            <th>Duration </th>
                            <th>Enrolment Targets for the first year</th>
                            <th>Year-wise Enrolment Targets for first 5 years </th>
                            <th>Whether course approved by UGC</th>
                            <th>Whether sufficient faculty sanctioned for the course </th>
          
                          </tr>
                          <tr>
                            <td contenteditable='false'>1 </td>
                            <td><select class="form-control form-control-sm">
                              <option value="0">--Select--</option>
                              <option></option>
                          </select></td>
                          <td><select class="form-control form-control-sm">
                            <option value="0">--Select--</option>
                            <option></option>
                        </select></td>
                        <td><select class="form-control form-control-sm">
                          <option value="0">--Select--</option>
                          <option></option>
                      </select></td>
                            <td><input type="text" class="form-control form-control-sm"></td>
                            <td><input type="text" class="form-control form-control-sm"></td>
                          <td><input type="text" class="form-control form-control-sm"></td>
                          <td><input type="text" class="form-control form-control-sm"></td>
                          <td><input type="radio" id="yes" name="fav_language" value="YES"> &nbsp;
                            <label for="html">Yes</label>&nbsp;&nbsp;
                            <input type="radio" id="no" name="fav_language" value="NO">&nbsp;
                            <label for="css">No</label></td>
                          <td><input type="radio" id="yes" name="fav_language" value="YES"> &nbsp;
                            <label for="html">Yes</label>&nbsp;&nbsp;
                            <input type="radio" id="no" name="fav_language" value="NO">&nbsp;
                            <label for="css">No</label></td>
                          </tr>
          
          
                        </table>
                        </div>
               </div>
                  </mat-tab>

                  
           

              <mat-tab label="Timeline">
                <div class="form-group">
                    <div class="form-row mr-0 ml-0">
                      <div class="col-md-12 mt-0 badges p-2 mt-3">
                        <div class="float-left">
                          <span class="text-info font-weight-bolder text-lg">Timeline for completion of project:
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden">
                    <div class="col-md-12 table-responsive ">
                      <table class="table-sm table">
                        <tr>
                          <th rowspan="2">Phase</th>
                          <th rowspan="2">Items </th>
                          <th rowspan="2"> Whether new construction or renovation or Equipment or soft component</th>
                          <th rowspan="2"> Percentage of completion in the relevant phase</th>
                          <th colspan="2">Physical Target (appropriate unit)</th>
                          <th colspan="2">Financial Target (as a % of approved cost)</th>
                        </tr>
                        <tr>
                          <th>Start Date</th>
                          <th>End Date</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td><input type="text" class="form-control form-control-sm"></td>
                          <td><input type="text" class="form-control form-control-sm"></td>
                          <td><input type="text" class="form-control form-control-sm"></td>
                        <td><input type="text" class="form-control form-control-sm"></td>
                        <td><input type="text" class="form-control form-control-sm"></td>
                        <td><input type="text" class="form-control form-control-sm"></td>
                        <td><input type="text" class="form-control form-control-sm"></td>
                        </tr>
                      </table>
                      </div>
             </div>
                </mat-tab>


                  <mat-tab label="Financial Estimates">
                    <div class="form-group">
                        <div class="form-row mr-0 ml-0">
                          <div class="col-md-12 mt-0 badges p-2 mt-3">
                            <div class="float-left">
                              <span class="text-info font-weight-bolder text-lg">Year-wise Financial estimates for all Activities
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden">
                        <div class="col-md-12 table-responsive ">
                          <table class="table-sm table">
                            <tr>
                              <th rowspan="2">S. No.</th>
                              <th rowspan="2">Items</th>
                              <th rowspan="2">Whether new construction or renovation <br>or Equipment or soft component</th>
                              <th colspan="3">State Proposal (Rs. In Lakhs) </th>
            
            
            
                            </tr>
                            <tr>
                              <th>2023-24</th>
                              <th>2024-25</th>
                              <th>2025-26</th>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td><input type="text" class="form-control form-control-sm"></td>
                              <td><input type="text" class="form-control form-control-sm"></td>
                              <td><input type="text" class="form-control form-control-sm"></td>
                              <td><input type="text" class="form-control form-control-sm"></td>
                              <td><input type="text" class="form-control form-control-sm"></td>
                            </tr>
                           
                            <tr>
                              <td>Total</td>
                              <td><input type="text" class="form-control form-control-sm"></td>
                              <td><input type="text" class="form-control form-control-sm"></td>
                              <td><input type="text" class="form-control form-control-sm"></td>
                              <td><input type="text" class="form-control form-control-sm"></td>
                              <td><input type="text" class="form-control form-control-sm"></td>
                            </tr>
                          </table>
                          </div>
                 </div>
                    </mat-tab>

      </mat-tab-group>
      </div>
      </div>      
