.table-custom1 tr th, .table-custom1 tr td {
  text-align: center !important;
  font-size: 12px !important;
}

  .active {
    color: rgb(17, 38, 223);
    text-decoration: underline;
    cursor: pointer;

  }
