<mat-dialog-content>
    <div class="col-md-12 text-center mb-4">
        <h5 class="heading">Change Password</h5>
    </div>
    <form [formGroup]="password">
      <div class="col-md-12">
       <mat-form-field class="d-block" appearance="outline">
          <mat-label>Old Password</mat-label>
          <input matInput formControlName="oldPassword" [type]="show ? 'text' : 'password'" (paste)="false" (draggable)="false"
          (drop)="false" (dragover)="false" autocomplete="old">
          <span class="loginshoweyecls">
            <i (click)="showpassword()" class="fa" [ngClass]="{'fa-eye-slash': !show, 'fa-eye': show}"
              aria-hidden="true"></i></span>
        </mat-form-field>
        <div class="err-msgs"
          *ngIf="password.controls['oldPassword'].dirty || password.controls['oldPassword'].value || password.controls['oldPassword'].touched || isFormInvalid ">
          <span *ngIf="password.controls['oldPassword'].hasError('required')">Please enter
          </span>
          
        </div>
      </div>
      <div class="col-md-12">
       <mat-form-field class="d-block" appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput formControlName="newPassword" [type]="show1 ? 'text' : 'password'"  (paste)="false" (draggable)="false"
          (drop)="false" (dragover)="false" autocomplete="new" matTooltip="Password must be of minimum 8 characters long with at least one Upper case, one lower case alphabet, one numeric value and  one special characters">
          <span class="loginshoweyecls">
            <i (click)="showpassword1()" class="fa" [ngClass]="{'fa-eye-slash': !show1, 'fa-eye': show1}"
              aria-hidden="true"></i></span>
        </mat-form-field>
        <div class="err-msgs"
          *ngIf="password.controls['newPassword'].dirty || password.controls['newPassword'].value || password.controls['newPassword'].touched || isFormInvalid ">
          <span *ngIf="password.controls['newPassword'].hasError('required')">Please enter
          </span>
          <span *ngIf="password.controls['newPassword'].hasError('pattern')">Invalid Password
          </span>
        </div>
      </div>
      <div class="col-md-12">
       <mat-form-field class="d-block" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" type="password"  (paste)="false" (draggable)="false"
          (drop)="false" (dragover)="false" autocomplete="conf">
        </mat-form-field>
        <div class="err-msgs"
          *ngIf="password.controls['confirmPassword'].dirty || password.controls['confirmPassword'].value || password.controls['confirmPassword'].touched || isFormInvalid ">
          <span *ngIf="password.controls['confirmPassword'].hasError('required')">Please enter
          </span>
          <span *ngIf="password.controls['confirmPassword'].hasError('mustMatch')">Passwords do not match
          </span>
        </div>
      </div>
      
      <div class="col-md-12">
         <mat-form-field class="d-block" appearance="outline">
            <mat-label>Enter Below Verfication Code</mat-label>
            <input matInput autocomplete="off" maxlength="15" (paste)="false" (draggable)="false"
              (drop)="false" (dragover)="false" formControlName="captcha"
               class="textTransform" required />
          </mat-form-field>
          <div class="err-msgs"
            *ngIf="password.controls['captcha'].dirty || password.controls['captcha'].value || password.controls['captcha'].touched || isFormInvalid ">
            <span *ngIf="password.controls['captcha'].hasError('required')">Please enter
            </span>
          </div>
          <div class="mt-2">
            <span class="font-weight-bold pt-2 pb-2 pr-1 pl-1 mr-1">Verification Code</span>
            <img [src]="captchaText" alt="" class="captcha">
            <a class="btn btn-link" (click)="getCaptcha()">
              <i tabindex="0" class="fa fa-refresh captcha-refresh ml-1"></i>
            </a>
          </div>
        </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" tabindex="1" (click)="verifyCaptcha(password.value)">{{confirmButtonText}}</button>
    <button mat-raised-button mat-dialog-close color="warn" tabindex="-1">{{cancelButtonText}}</button>
  </mat-dialog-actions>
  