<div class="container-fluid reg-page-bg pl-4 pr-4">
  <div class="form-group">
    <div class="form-row mr-0 ml-0">
      <div class="col-md-12 mt-0 badges p-2 mt-3">
        <div class="float-left">
          <span class="text-info font-weight-bolder text-lg">State Higher Education data
          </span>
        </div>
        <div class="float-right" *ngIf="gerPage && selectedIndex === 0">
          <span class="font-weight-bolder text-md" style="color: red;">{{sharedService.pageLock}}</span>
        </div>
        <div class="float-right" *ngIf="insENrol && selectedIndex === 1">
          <span class="font-weight-bolder text-md" style="color: red;">{{sharedService.pageLock}}</span>
        </div>
        <div class="float-right" *ngIf="naac && selectedIndex === 2">
          <span class="font-weight-bolder text-md" style="color: red;">{{sharedService.pageLock}}</span>
        </div>
        <div class="float-right" *ngIf="expenditure && selectedIndex === 3">
          <span class="font-weight-bolder text-md" style="color: red;">{{sharedService.pageLock}}</span>
        </div>
      </div>
    </div>
  </div>
  <mat-tab-group animationDuration="0ms" class="exam-tabing-steps" [(selectedIndex)]="selectedIndex"
    (selectedTabChange)="tabSelected($event)">
    <mat-tab label="GER & Enrollment">
      <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden">
        <form [formGroup]="formData">
          <div class="col-md-8 offset-md-0 table-responsive">
            <div class="col-md-3 mt-3" [ngClass]="{disabledDiv:gerPage}">
              <mat-form-field class="d-block">
                <mat-label>Year</mat-label>
                <mat-select formControlName="year">
                  <mat-option value="2020-21">2020-21</mat-option>
                  <mat-option value="2021-22">2021-22</mat-option>
                  <mat-option value="2022-23">2022-23</mat-option>
                </mat-select>
                <mat-hint class="err-msgs"
                *ngIf="formData.controls['year'].dirty || formData.controls['year'].value || formData.controls['year'].touched || isFormInvalid">
                <span class="errorMessage" *ngIf="formData.controls['year'].hasError('required')">
                  Please choose.</span>
              </mat-hint>
              </mat-form-field>

            </div>
            <label style="color: red;font-size: small;"><b>{{sharedService.mandatory}}</b></label>
            <table class="table table-sm table-bordered" [ngClass]="{disabledDiv:gerPage}">
              <tr class="text-center">
                <th colspan="2" style="width: 5%">Category</th>
                <th style="width: 5%">GER</th>
                <th style="width: 5%">Enrollment(in lakh)</th>
              </tr>

              <tr>
                <th rowspan="3" class="text-center">SC</th>
                <th>Male</th>
                <td>
                  <input type="number"  class="form-control form-control-sm" formControlName="scMale" required (keypress)="onKeypressEvent($event,5)" />
                </td>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="scMaleEnrol" required (keypress)="onKeypressEvent($event,6)" />
                </td>
              </tr>
              <tr>
                <th>Female</th>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="scFemale" required (keypress)="onKeypressEvent($event,5)" />

                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="scFemaleEnrol" required (keypress)="onKeypressEvent($event,6)">
                </td>
              </tr>
              <tr>
                <th>Total</th>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="scTotal" required (keypress)="onKeypressEvent($event,5)">
                </td>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="scTotalEnrol" required (keypress)="onKeypressEvent($event,6)">
                </td>
              </tr>
              <tr>
                <th rowspan="3" class="text-center">ST</th>
                <th>Male</th>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="stMale" required (keypress)="onKeypressEvent($event,5)">
                </td>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="stMaleEnrol" required (keypress)="onKeypressEvent($event,6)">
                </td>
              </tr>
              <tr>
                <th>Female</th>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="stFemale" required (keypress)="onKeypressEvent($event,5)">
                </td>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="stFemaleEnrol" required (keypress)="onKeypressEvent($event,6)">
                </td>
              </tr>
              <tr>
                <th>Total</th>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="stTotal" required (keypress)="onKeypressEvent($event,5)">
                </td>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="stTotalEnrol" required (keypress)="onKeypressEvent($event,6)">
                </td>
              </tr>
              <tr>
                <th rowspan="3" class="text-center">OBC</th>
                <th>Male</th>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="obcMale" required (keypress)="onKeypressEvent($event,5)">
                </td>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="obcMaleEnrol" required (keypress)="onKeypressEvent($event,6)">
                </td>
              </tr>
              <tr>
                <th>Female</th>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="obcFemale" required (keypress)="onKeypressEvent($event,5)">
                </td>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="obcFemaleEnrol" required (keypress)="onKeypressEvent($event,6)">
                </td>
              </tr>
              <tr>
                <th>Total</th>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="obcTotal" required (keypress)="onKeypressEvent($event,5)">
                </td>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="obcTotalEnrol" required (keypress)="onKeypressEvent($event,6)">
                </td>
              </tr>
              <tr>
                <th rowspan="2" class="text-center">Total</th>
                <th>Male</th>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="male" required (keypress)="onKeypressEvent($event,5)">
                </td>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="maleEnrol" required (keypress)="onKeypressEvent($event,6)">
                </td>
              </tr>
              <tr>
                <th>Female</th>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="female" required (keypress)="onKeypressEvent($event,5)">
                </td>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="femaleEnrol" required (keypress)="onKeypressEvent($event,6)">
                </td>
              </tr>
              <tr>
                <th colspan="2" class="text-center">Total</th>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="total" required (keypress)="onKeypressEvent($event,5)">
                </td>
                <td>
                  <input type="number" class="form-control form-control-sm" formControlName="totalEnrol" required (keypress)="onKeypressEvent($event,6)">
                </td>
              </tr>
            </table>
            <div class="form-group text-center mt-2" *ngIf="!gerPage">
              <button class="btn btn-success btn-sm mr-2" type="submit" (click)="save(formData.value,false)">
                Save
              </button>
              <button class="btn btn-danger btn-sm mr-2" type="button" (click)="reset()">
                Reset
              </button>
              <button class="btn btn-warning btn-sm mr-2" type="button" (click)="save(formData.value,true)" *ngIf="userTypeId === sharedService.userTypeList['1'].id">Lock</button>

            </div>
          </div>
          
        </form>
        
      </div>
    </mat-tab>


    <mat-tab label="Institution Number & Enrollment">
      <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden">
        <div class="row col-md-12 overflow-hidden mt-1">
          
          <div class="col-md-2 mt-2" [ngClass]="{disabledDiv:insENrol}">
            <mat-form-field class="d-block">
              <mat-label>Year</mat-label>
              <mat-select [(ngModel)]="year">
                <mat-option value="2020-21">2020-21</mat-option>
                <mat-option value="2021-22">2021-22</mat-option>
                <mat-option value="2022-23">2022-23</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <label style="color: red;font-size: small;padding-left: 15px;"><b>{{sharedService.mandatory}}</b></label>
        <div class="row col-md-12 overflow-hidden mt-1">
          <div class="col-md-7 offset-md-0 table-responsive">
            <form>
              <table class="table table-bordered table-sm stable breakUpData" [ngClass]="{disabledDiv:insENrol}">
                <tr>
                  <th>Type of Institutions</th>
                  <th style="width: 30%">Number of Institution</th>
                  <th style="width: 30%">Enrollment Data(in lakh)</th>
                </tr>

                <ng-container *ngFor="let item of institutionData; let i = index">
                  <tr>
                    <td [ngStyle]="
                        item.pmushaInstitutionType?.id === ''
                          ? { 'font-weight': 'bold' }
                          : ''
                      ">
                      {{ item.pmushaInstitutionType?.type }}
                    </td>
                    <td [ngStyle]="
                        item.pmushaInstitutionType?.id === ''
                          ? { 'font-weight': 'bold' }
                          : ''
                      ">
                      <input type="number" class="form-control form-control-sm" [(ngModel)]="item.totalNo"
                        [ngModelOptions]="{ standalone: true }" (input)="totalValue($event.value)"
                        [disabled]="item.pmushaInstitutionType?.id === ''"  (keypress)="onKeypressEvent($event,5)" onkeypress="return event.charCode >= 48" min="1"/>
                    </td>
                    <td [ngStyle]="
                        item.pmushaInstitutionType?.id === ''
                          ? { 'font-weight': 'bold' }
                          : ''
                      ">
                      <input type="number" class="form-control form-control-sm" [(ngModel)]="item.enrollment"
                        [ngModelOptions]="{ standalone: true }" (input)="totalValueEnrol($event.value)"
                        [disabled]="item.pmushaInstitutionType?.id === ''" (keypress)="onKeypressEvent($event,6)"/>
                    </td>
                  </tr>
                </ng-container>
              </table>
              <div class="form-group text-center mt-2" *ngIf="!insENrol">
                <button class="btn btn-success btn-sm mr-2" type="submit" (click)="saveInstitutionData(false)">
                  Save
                </button>
                <button class="btn btn-danger btn-sm mr-2" type="reset">
                  Reset
                </button>
                <button class="btn btn-warning btn-sm mr-2" type="button" (click)="saveInstitutionData(true)" *ngIf="userTypeId === sharedService.userTypeList['1'].id">Lock</button>
              </div>
            </form>
          </div>

        </div>
        
      </div>
    </mat-tab>

    <mat-tab label="NAAC Accreditation Detail">
      <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden">
        <label style="color: red;font-size: small;padding-left: 15px;"><b>{{sharedService.mandatory}}</b></label>
        <div class="col-md-12 table-responsive shadow">
          <form [formGroup]="accreditationDataform" [ngClass]="{disabledDiv:naac}">
            <h6>Note: (As on the 30.06.2023)</h6>
            
            <table class="table table-bordered table-sm stable breakUpData">
              <tr>
                <th class="orientation">Total Number of</th>
                <ng-container *ngFor="let items of accreditationData">
                  <th class="orientation">
                    With Score:{{ items.score }} ({{ items.grade }})
                  </th>
                </ng-container>
              </tr>
              <ng-container *ngFor="let obj of naacAcc; let i = index">
                <tr>
                  <th>{{ obj.type }}</th>
                  <td>
                    <input type="number" [(ngModel)]="obj.a" class="form-control form-control-sm"
                      [ngModelOptions]="{ standalone: true }" (input)="totalAgrade($event.value)" (keypress)="onKeypressEvent($event,5)" onkeypress="return event.charCode >= 48" min="1"/>

                  </td>
                  <td>
                    <input type="number" [(ngModel)]="obj.aplus" class="form-control form-control-sm"
                      [ngModelOptions]="{ standalone: true }" (input)="totalAPlusgrade($event.value)" (keypress)="onKeypressEvent($event,5)"  onkeypress="return event.charCode >= 48" min="1"/>

                  </td>
                  <td>
                    <input type="number" [(ngModel)]="obj.aplusplus" class="form-control form-control-sm"
                      [ngModelOptions]="{ standalone: true }" (input)="totalAPlusPlusgrade($event.value)" (keypress)="onKeypressEvent($event,5)" onkeypress="return event.charCode >= 48" min="1"/>

                  </td>
                  <td>
                    <input type="number" [(ngModel)]="obj.b" class="form-control form-control-sm"
                      [ngModelOptions]="{ standalone: true }" (input)="totalBgrade($event.value)" (keypress)="onKeypressEvent($event,5)" onkeypress="return event.charCode >= 48" min="1"/>

                  </td>
                  <td>
                    <input type="number" [(ngModel)]="obj.bplus" class="form-control form-control-sm"
                      [ngModelOptions]="{ standalone: true }" (input)="totalBPlusgrade($event.value)" (keypress)="onKeypressEvent($event,5)" onkeypress="return event.charCode >= 48" min="1"/>

                  </td>
                  <td>
                    <input type="number" [(ngModel)]="obj.bplusplus" class="form-control form-control-sm"
                      [ngModelOptions]="{ standalone: true }" (input)="totalBPlusPlusgrade($event.value)" (keypress)="onKeypressEvent($event,5)" onkeypress="return event.charCode >= 48" min="1"/>

                  </td>
                  <td>
                    <input type="number" [(ngModel)]="obj.c" class="form-control form-control-sm"
                      [ngModelOptions]="{ standalone: true }" (input)="totalCgrade($event.value)" (keypress)="onKeypressEvent($event,5)" onkeypress="return event.charCode >= 48" min="1"/>

                  </td>
                </tr>

              </ng-container>

              <tr>
                <th>Total</th>
                <td class="text-center">{{this.totalAGrade}}</td>
                <td class="text-center">{{this.totalAPlusGrade}}</td>
                <td class="text-center">{{this.totalAPlusPlusGrade}}</td>
                <td class="text-center">{{this.totalBGrade}}</td>
                <td class="text-center">{{this.totalBPlusGrade}}</td>
                <td class="text-center">{{this.totalBPlusPlusGrade}}</td>
                <td class="text-center">{{this.totalCGrade}}</td>
              </tr>
            </table>
          </form>
          <div class="form-group text-center mt-2" *ngIf="!naac">
            <button class="btn btn-success btn-sm mr-2" type="submit" (click)="saveAccreditation(false)">
              Save
            </button>
            <button class="btn btn-danger btn-sm mr-2" type="button" (click)="reset()">
              Reset
            </button>
            <button class="btn btn-warning btn-sm mr-2" type="button" (click)="saveAccreditation(true)" *ngIf="userTypeId === sharedService.userTypeList['1'].id">Lock</button>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="State Expenditure on Higher Education">
      
      <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden">
        <label style="color: red;font-size: small;padding-left: 15px;"><b>{{sharedService.mandatory}}</b></label>
        <div class="col-md-12 table-responsive shadow">
          <form>
            <table class="table table-bordered table-sm" [ngClass]="{disabledDiv:expenditure}">
              <tr>
                <th class="orientation" style="text-align: center;">(Rs. In crores)</th>
                <th class="alignMatrix text-center">
                  2022-23 (Budget Estimates)
                </th>
                <th class="alignMatrix text-center">2021-22 (actuals)</th>
              </tr>
              <ng-container *ngFor="let item of expenditureList;let i=index">
                <tr *ngIf="item.indicatorName !=='Percentage of Total Expenditure to GSDP'">
                  <td>{{ item.indicatorName }} (Rs. In crores)</td>
                  <td>
                    <input type="number" [(ngModel)]="item.budgetEstimate" [ngModelOptions]="{ standalone: true }"
                      class="form-control form-control-sm" (keypress)="onKeypressEvent($event,10)"  placeholder="Rs. In crores"  (input)="calculatePercentageBudget()"/>
                  </td>
                  <td>
                    <input type="number"  placeholder="Rs. In crores"   [(ngModel)]="item.actualBudget" [ngModelOptions]="{ standalone: true }"
                      class="form-control form-control-sm" (keypress)="onKeypressEvent($event,10)" (input)="calculatePercentageActual()"/>
                  </td>
                </tr>

                <tr *ngIf="item.indicatorName === 'Percentage of Total Expenditure to GSDP'">
                  <td>{{ item.indicatorName }}</td>
                  <td>
                    <input type="number" [(ngModel)]="item.budgetEstimate" [ngModelOptions]="{ standalone: true }" disabled
                      class="form-control form-control-sm"  placeholder="Rs. In crores"  />
                  </td>
                  <td>
                    <input type="number"  placeholder="Rs. In crores" [(ngModel)]="item.actualBudget" disabled [ngModelOptions]="{ standalone: true }"
                      class="form-control form-control-sm" />
                  </td>
                </tr>

              </ng-container>
            </table>
          </form>
          <div class="form-group text-center mt-2" *ngIf="!expenditure">
            <button class="btn btn-success btn-sm mr-2" type="submit" (click)="saveExpenditure(false)">
              Save
            </button>
            <button class="btn btn-danger btn-sm mr-2" type="button" (click)="reset()">
              Reset
            </button>
            <button class="btn btn-warning btn-sm mr-2" type="button" (click)="saveExpenditure(true)" *ngIf="userTypeId === sharedService.userTypeList['1'].id">Lock</button>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>