<div class="container-fluid reg-page-bg pl-4 pr-4">
    <div class="animated fadeInDown card shadow mb-4 pt-1 pb-2 pr-4 pl-4 bg-light">
    
      <mat-tab-group animationDuration="0ms" class="exam-tabing-steps" >
      <mat-tab label="Basic Details" >
         
        <br>
            <div class="form-group row">
              <label for="stateName" class="col-sm-2 col-form-label">Vision Mission of the University:</label>
              <div class="col-sm-4">
                <textarea class="form-control form-control-sm" rows="2" cols="50">
                  </textarea>
              </div>
      
              <label for="inputPassword" class="col-sm-2 col-form-label">Broad objectives of the University:</label>
              <div class="col-sm-4">
                <textarea class="form-control form-control-sm" rows="2" cols="50">
                </textarea>
              </div>
            </div>
  
            <div class="form-group row">
              <label for="stateName" class="col-sm-2 col-form-label">Organizational Structure for Operation and Management</label>
              <div class="col-sm-4">
                <textarea class="form-control form-control-sm" rows="2" cols="50">
                </textarea>
              </div>
      
              <label for="inputPassword" class="col-sm-2 col-form-label">Role and Responsibilities of Key Positions/ bodies</label>
              <div class="col-sm-4">
                <textarea class="form-control form-control-sm" rows="2" cols="50">
                </textarea>
              </div>
            </div>
  
               
            <div class="form-group row">
              <label for="stateName" class="col-sm-2 col-form-label">Board of Governance</label>
              <div class="col-sm-4">
                <textarea class="form-control form-control-sm" rows="2" cols="50">
                </textarea>
              </div>
      
              <label for="inputPassword" class="col-sm-2 col-form-label">Project Monitoring Unit (PMU) details</label>
              <div class="col-sm-4">
                <textarea class="form-control form-control-sm" rows="2" cols="50">
                </textarea>
              </div>
            </div> 
  
           
        
            <div class="form-group row">
              <label for="stateName" class="col-sm-2 col-form-label">Total enrolment in the University:</label>
              <div class="col-sm-4">
                <input type="text" class="form-control form-control-sm">
              </div>
      
              <label for="inputPassword" class="col-sm-2 col-form-label">Teaching staff: Non-teaching ratio </label>
              <div class="col-sm-4">
                <input type="text" class="form-control form-control-sm">
              </div>
            </div> 
          <hr>
          
          <h6><b>Infrastructure Details</b></h6>
          <div class="form-group row">
            <label for="stateName" class="col-sm-2 col-form-label">A.	Existing Land Availability (in acres)</label>
            <div class="col-sm-2">
              <input type="text" class="form-control form-control-sm">
            </div>
    
            <label for="inputPassword" class="col-sm-2 col-form-label">B.	GPS Coordinates of the University:</label>
            <label for="inputPassword" class="col-sm-1 col-form-label">Latitude</label>
            <div class="col-sm-1">           
              <input type="text" class="form-control form-control-sm">
            </div>
            <label for="inputPassword" class="col-sm-1 col-form-label">Longitude</label>
            <div class="col-sm-1">           
              <input type="text" class="form-control form-control-sm">
            </div>
          </div> 
         
                 </mat-tab>
  
                 <mat-tab label="Department">
                  <div class="form-group">
                      <div class="form-row mr-0 ml-0">
                        <div class="col-md-12 mt-0 badges p-2 mt-3">
                          <div class="float-left">
                            <span class="text-info font-weight-bolder text-lg">Details of the Departments offered in the University:
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
  
                  <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden">
                      <div class="col-md-12 table-responsive ">
                          <table class="table-sm table" >
                            <tr>
                              <th>S.No.</th>
                              <th>Department</th>
                              <th>Sanctioned posts of Regular Faculty</th>
                              <th>Posts filled in Regluar mode</th>
                              <th>Percentage of Posts filled</th>
                              <th>Student Teacher Ratio</th>
                            </tr>
                            <tr>
                              <td contenteditable='false'>1 </td>
                              <td><input type="text" class="form-control form-control-sm"> </td>                            
                              <td><input type="text" class="form-control form-control-sm"> </td>
                              <td><input type="text" class="form-control form-control-sm"> </td>
                              <td><input type="text" class="form-control form-control-sm"> </td>
                              <td><input type="text" class="form-control form-control-sm"> </td>
                          
                            </tr>
            
            
                          </table>
                        </div>
                  </div>
              </mat-tab>
  
  
              <mat-tab label="Course">
                  <div class="form-group">
                      <div class="form-row mr-0 ml-0">
                        <div class="col-md-12 mt-0 badges p-2 mt-3">
                          <div class="float-left">
                            <span class="text-info font-weight-bolder text-lg">Details of the Courses offered in the University:
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
  
                  <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden">
                      <div class="col-md-12 table-responsive ">
                        <table class="table-sm table">
                          <tr>
                            <th rowspan="2">S.No.</th>
                            <th rowspan="2">Department</th>
                            <th rowspan="2">Level</th>
                            <th rowspan="2">Programme</th>
                            <th rowspan="2">Course Offered</th>
                            <th colspan="2">Duration </th>
                            <th rowspan="2" style="width: 120px;">Total enrolment</th>
                            
                          </tr>
                          <tr>
                            <th >Year</th>
                            <th >Month</th>
                          </tr>
                          <tr>
                            <td contenteditable='false'>1 </td>
                            <td><select  class="form-control form-control-sm">
                                <option value="0">--Select--</option>
                                <option></option>
                              </select> </td>
                              <td><select  class="form-control form-control-sm">
                                <option value="0">--Select--</option>
                                <option></option>
                              </select> </td>
                              <td><select  class="form-control form-control-sm">
                                <option value="0">--Select--</option>
                                <option></option>
                              </select> </td>
                            <td><input type="text" class="form-control form-control-sm"> </td>
                            <td><select  class="form-control form-control-sm">
                              <option value="0">--Select--</option>
                              <option></option>
                            </select></td>
                            <td><select  class="form-control form-control-sm">
                              <option value="0">--Select--</option>
                              <option></option>
                            </select> </td>
                            <td><input type="text" class="form-control form-control-sm"> </td>
          
                        </table>
                        </div>
                  </div>
              </mat-tab>
  
  
              <mat-tab label="Non-Teaching Staff">
                  
  
                  <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden">
                      <div class="col-md-6 offset-md-3 table-responsive ">
                        <table class="table-sm table" >
                          <tr>
                              <th>S.No.</th>
                              <th>Department</th>
                              <th class="nonTeachTD">Sanctioned Posts</th>
                              <th class="nonTeachTD">Posts yet to be Sanctioned </th>
                            </tr>
                            <tr>
                              <td>1. </td>
                              <td contenteditable='false'>Administrative </td>
                              <td><input type="text" class="form-control form-control-sm "> </td>
                              <td><input type="text" class="form-control form-control-sm"> </td>
              
                            </tr>
                            <tr>
                              <td>2.</td>
                              <td contenteditable='false'>Technical </td>
                              <td><input type="text" class="form-control form-control-sm"> </td>
                              <td><input type="text" class="form-control form-control-sm"> </td>
              
                            </tr>
                            <tr>
                              <td>3. </td>
                              <td contenteditable='false'>Others</td>
                              <td><input type="text" class="form-control form-control-sm"> </td>
                              <td><input type="text" class="form-control form-control-sm"> </td>
              
                            </tr>
                            <tr>
                              <td>4. </td>
                              <td contenteditable='false'>Total </td>
                              <td><input type="text" class="form-control form-control-sm"> </td>
                              <td><input type="text" class="form-control form-control-sm"> </td>
              
                            </tr>
        
        
                      </table>
                        </div>
                  </div>
              </mat-tab>
  
                 </mat-tab-group>
                 
  
      </div>         
              
  </div>
       
  