<div class="container-fluid reg-page-bg pl-4 pr-4">
  <mat-tab-group animationDuration="0ms" class="exam-tabing-steps" [(selectedIndex)]="selectedIndex"
    (selectedTabChange)="tabSelected($event)">
    <mat-tab label="Proposed Outcomes">
      <div class="form-group">
        <div class="form-row mr-0 ml-0">
          <div class="col-md-12 mt-0 badges p-2 mt-3">
            <div class="float-left">
              <span class="text-info font-weight-bolder text-lg">Targets to be set while submitting proposal and
                achievements
                to be submitted Quarterly
              </span><span *ngIf="paramId === sharedService.revPrposal && isProposedDisabled" class="ml-2" style="color:green">This Page is Locked</span>
            </div>
          </div>
        </div>
      </div>
      <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden"
        [ngClass]="{disabledDiv:disabledPage}">
        <label style="color: red;font-size: small;padding-left: 12px;"><b>{{sharedService.mandatory}}</b></label>
        <div class="col-md-12 table-responsive">
          <table class="table table-sm table-bordered">
            <tr>
              <th rowspan="2">Indicators</th>
              <th rowspan="2">
                Base Year (2023) Figures
              </th>
              <th colspan="3" class="text-center">Target for</th>
              <th *ngIf="!isProposedDisabled && paramId">Action</th>
            </tr>
            
            <tr>
              <th>31.03.2024</th>
              <th>31.03.2025</th>
              <th>31.03.2026</th>
              <th *ngIf="!isProposedDisabled && paramId"></th>
            </tr>
            <ng-container *ngFor="let item of dataOutComeList;let i=index">
              <tr>
                <td [ngClass]="{disabledDiv:(item.disabled) && paramId}" >{{ item.indicatorName }}<mat-icon [matTooltip]="item.indicatorInfo" [matTooltipPosition]="'after'" style="pointer-events: auto;">info </mat-icon></td>
                <td [ngClass]="{disabledDiv:(item.disabled) && paramId}" *ngIf="item.baseYearType !== 'boolean'">
                  <input [type]="item.baseYearType" [ngStyle]="{'background-color':paramId ? 'rgb(218 208 208)' : 'none' }" [ngClass]="{'active-bg': item.isActive}" class="form-control form-control-sm" [(ngModel)]="item.baseYear"
                    (keypress)="onKeypressEvent1($event, item.baseYearLength,item)" />

                </td>
                <td [ngClass]="{disabledDiv:(item.disabled) && paramId}" *ngIf="item.targetType !== 'boolean'">
                  <input [type]="item.targetType" [ngStyle]="{'background-color':paramId ? 'rgb(218 208 208)' : 'none' }" [ngClass]="{'active-bg': item.isActive}" class="form-control form-control-sm"
                    [(ngModel)]="item.isProjectCompletedTarget31032024"
                    (keypress)="onKeypressEvent1($event, item.targetLength,item)" />
                </td>
                <td [ngClass]="{disabledDiv:(item.disabled) && paramId}" *ngIf="item.targetType !== 'boolean'">
                  <input [type]="item.targetType" [ngStyle]="{'background-color':paramId ? 'rgb(218 208 208)' : 'none' }" [ngClass]="{'active-bg': item.isActive}" class="form-control form-control-sm"
                    [(ngModel)]="item.isProjectCompletedTarget31032025"
                    (keypress)="onKeypressEvent1($event, item.targetLength,item)" />
                </td>
                <td [ngClass]="{disabledDiv:(item.disabled) && paramId}" *ngIf="item.targetType !== 'boolean'">
                  <input [type]="item.targetType" [ngStyle]="{'background-color':paramId ? 'rgb(218 208 208)' : 'none' }" [ngClass]="{'active-bg': item.isActive}" class="form-control form-control-sm"
                    [(ngModel)]="item.isProjectCompletedTarget31032026"
                    (keypress)="onKeypressEvent1($event, item.targetLength,item)" />
                </td>
                <td [ngClass]="{disabledDiv:(item.disabled) && paramId}" *ngIf="item.baseYearType === 'boolean'">
                  <mat-radio-group aria-label="Select an option" [(ngModel)]="item.baseYear">
                    <mat-radio-button value='true'>YES</mat-radio-button>
                    <mat-radio-button value='false'>NO</mat-radio-button>
                  </mat-radio-group>
                </td>
                <td [ngClass]="{disabledDiv:(item.disabled) && paramId}" *ngIf="item.targetType === 'boolean'">
                  <mat-radio-group aria-label="Select an option" [(ngModel)]="item.isProjectCompletedTarget31032024">
                    <mat-radio-button value='true'>YES</mat-radio-button>
                    <mat-radio-button value='false'>NO</mat-radio-button>
                  </mat-radio-group>
                </td>
                <td [ngClass]="{disabledDiv:(item.disabled) && paramId}" *ngIf="item.targetType === 'boolean'">
                  <mat-radio-group aria-label="Select an option" [(ngModel)]="item.isProjectCompletedTarget31032025">
                    <mat-radio-button value='true'>YES</mat-radio-button>
                    <mat-radio-button value='false'>NO</mat-radio-button>
                  </mat-radio-group>
                </td>
                <td [ngClass]="{disabledDiv:(item.disabled) && paramId}" *ngIf="item.targetType === 'boolean'">
                  <mat-radio-group aria-label="Select an option" [(ngModel)]="item.isProjectCompletedTarget31032026">
                    <mat-radio-button value='true'>YES</mat-radio-button>
                    <mat-radio-button value='false'>NO</mat-radio-button>
                  </mat-radio-group>
                </td>
                <td *ngIf="!isProposedDisabled && paramId">
                  <mat-icon class="view_icon" *ngIf="!item.saveButton && item.justification" (click)="viewRow(item,i)" matTooltip="View">remove_red_eye</mat-icon>
                  <mat-icon class="edit_icon" *ngIf="!item.saveButton"  matTooltip="Edit" (click)="editRow(item,i)"
                    >edit</mat-icon>
                   <i class="fas fa-save view_icon mr-1" title="save" *ngIf="item.saveButton"  (click)="saveSingleRowData(item,i)" style="font-size: 19px;" ></i>
                   <i class="fa fa-window-close view_icon" aria-hidden="true" *ngIf="item.saveButton"  (click)="cancelSingleRowData(item,i)" title="cancel" style="font-size: 19px;color:red"></i> 
                </td>
              </tr>
            </ng-container>


          </table>
        </div>

        <div class="form-group text-center mt-2" *ngIf="!disabledPage">
          <button class="btn btn-success btn-sm mr-2" type="submit" *ngIf="!paramId" (click)="saveOutCome()">
            Save
          </button>
          <button class="btn btn-danger btn-sm mr-2" type="button" *ngIf="!paramId" (click)="reset()">
            Reset
          </button>
          <button class="btn btn-warning btn-sm mr-2" type="submit" *ngIf="paramId && !isProposedDisabled" (click)="LockProposal('proposedOutcome')">
            Lock
        </button>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Other Sources of funds">
      <div class="form-group">
        <div class="form-row mr-0 ml-0">
          <div class="col-md-12 mt-0 badges p-2 mt-3">
            <div class="float-left">
              <span class="text-info font-weight-bolder text-lg">Other sources of funds for the institution:
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row col-md-12 overflow-hidden" [ngClass]="{disabledDiv:disabledPage}">
        <label class="label col-md-3">Whether Institution have Other source of funds</label>
        <div class="col-md-3 pt-3">
          <mat-radio-group aria-label="Select an option" [ngClass]="{disabledDiv:paramId}" [(ngModel)]="otherSourceOfFunds">
            <mat-radio-button [value]=true>YES</mat-radio-button>
            <mat-radio-button [value]=false (click)="checkOther($event)">NO</mat-radio-button>
          </mat-radio-group>
          <button class="btn btn-success btn-sm mr-2 mb-2" [hidden]="paramId" type="submit" (click)="saveOtherSourceBoolean()" *ngIf="!otherSourceOfFunds && !disabledPage">
            Save
          </button>
        </div>
        
      </div>

      <div class="animated fadeInDown card shadow mb-4 pt-1 pb-2 pr-4 pl-4 bg-light" *ngIf="otherSourceOfFunds">
        <div class="col-md-12 table-responsive">
          <table class="table table-sm table-bordered" [ngClass]="{disabledDiv:paramId}">
            <tr>
              <th>S.No.</th>
              <th>Organisation/ Project/ any other Scheme</th>
              <th>Amount</th>
              <th>Activities supported</th>
              <th *ngIf="!disabledPage && !paramId">Action</th>
            </tr>
            <ng-container *ngFor="let e of otherSource;let i=index ;let first = first ;let last = last;">
              <tr>
                <td>{{i+1}}</td>
                <td [ngClass]="{disabledDiv:disabledPage}">
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="e.scheme" (keypress)="onKeypressEvent($event, 100)"
                    [ngClass]="{ 'is-invalid': isFormInvalid && e.scheme === '' }" />
                    
                </td>
                <td [ngClass]="{disabledDiv:disabledPage}">
                  <input type="number" class="form-control form-control-sm" [(ngModel)]="e.amount"
                    (keypress)="onKeypressEvent($event, 12)"
                    [ngClass]="{ 'is-invalid': isFormInvalid && e.amount === null}" />
                </td>
                <td [ngClass]="{disabledDiv:disabledPage}">
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="e.activity"
                    [ngClass]="{ 'is-invalid': isFormInvalid && e.activity === '' }" (keypress)="onKeypressEvent($event, 15)"/>
                </td>
                <td *ngIf="!disabledPage && !paramId">
                  <mat-icon matTooltip="Add" class="add_icon" (click)="add()" *ngIf="last">add_circle_outline</mat-icon>
                  <mat-icon class="delete_icon" matTooltip="Delete" (click)="delete(e,i)">delete_forever</mat-icon>
                </td>

              </tr>
            </ng-container>

          </table>
        </div>
        <br>
        <div class="form-group row" [ngClass]="{disabledDiv:disabledPage}">
          &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<input type="checkbox"
            [(ngModel)]="undertakingNoDuplicationExpenditure" />

          <label for="stateName" class="col-sm-11 col-form-label" *ngIf="insType === 'C'">The College undertakes that
            there will be no
            duplication of items
            of expenditure between the sources of funding.<span style="color: red;">*</span></label>
          <label for="stateName" class="col-sm-11 col-form-label" *ngIf="insType === 'U'"> The University undertakes
            that there will be no duplication of items of expenditure between the sources of funding<span
              style="color: red;">*</span></label>


        </div>
        <div class="form-group text-center mt-2" *ngIf="!disabledPage && paramId !== sharedService.revPrposal">
          <button class="btn btn-success btn-sm mr-2" type="submit" (click)="submit()">
            Save
          </button>
          <button class="btn btn-danger btn-sm mr-2" (click)="reset()" type="button">
            Reset
          </button>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Other Information">
      <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden">
        <form [formGroup]="otherInfo">
          <div class="row col-md-12 overflow-hidden" [ngClass]="{disabledDiv:disabledPage || paramId}">
            <label class="col-md-3 label">Tentative date of completion of Project:</label>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="d-block">
                <input matInput [matDatepicker]="picker" readonly formControlName="tenatativeDateCompletionOfProject"
                  required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-hint class="err-msgs"
                  *ngIf="otherInfo.controls['tenatativeDateCompletionOfProject'].dirty || otherInfo.controls['tenatativeDateCompletionOfProject'].value || otherInfo.controls['tenatativeDateCompletionOfProject'].touched || isFormInvalid">
                  <span class="errorMessage"
                    *ngIf="otherInfo.controls['tenatativeDateCompletionOfProject'].hasError('required')">
                    Please select.</span>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="row col-md-12 overflow-hidden" [ngClass]="{disabledDiv:disabledPage || paramId}">
            <label class="col-md-3 label">Pre-Collaboration with local industries:</label>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="d-block">
                <mat-select formControlName="preCollebe" (selectionChange)="getColebe($event.value)" required>
                  <mat-option value="0">--Select--</mat-option>
                  <mat-option value="With existing Linkages">With existing Linkages</mat-option>
                  <mat-option value="With scope for linkage">With scope for linkage</mat-option>
                  <mat-option value="Without Linkages">Without Linkages</mat-option>
                </mat-select>
                <mat-hint class="err-msgs"
                  *ngIf="otherInfo.controls['preCollebe'].dirty || otherInfo.controls['preCollebe'].value || otherInfo.controls['preCollebe'].touched || isFormInvalid">
                  <span class="errorMessage" *ngIf="otherInfo.controls['preCollebe'].hasError('required')">
                    Please select.</span>
                </mat-hint>
              </mat-form-field>
            </div>

          </div>
          <div class="row col-md-12 overall-hidden mt-2"
            *ngIf="otherInfo.controls['preCollebe'].value === 'With existing Linkages' || otherInfo.controls['preCollebe'].value === 'With scope for linkage'">
            <label class="col-md-3 label">Provide
              details:</label>
            <div class="col-md-6" [ngClass]="{disabledDiv:disabledPage}">
              <mat-form-field appearance="outline" class="d-block">
                <textarea matInput cols="6" rows="6" formControlName="provideDetails"
                  [required]="otherInfo.controls['preCollebe'].value === 'With existing Linkages' || otherInfo.controls['preCollebe'].value === 'With scope for linkage'"></textarea>
              </mat-form-field>
              <mat-hint class="err-msgs"
                *ngIf="otherInfo.controls['provideDetails'].dirty || otherInfo.controls['provideDetails'].value || otherInfo.controls['provideDetails'].touched || isFormInvalid">
                <span class="errorMessage" *ngIf="otherInfo.controls['provideDetails'].hasError('required')">
                  Please select.</span>
              </mat-hint>
            </div>
          </div>
          <div class="row col-md-12 overflow-hidden mt-2" *ngIf="!disabledPage && !paramId">
            <label class="col-md-3 label">Upload Document:</label>
            <div class="col-md-3">
              <mat-toolbar>
                <input matInput placeholder="Upload relevant document" readonly name="name" style="font-size: small;"
                  [value]="myFilesName" class="mat-label" />

                <mat-icon style="color: forestgreen;"> attach_file</mat-icon>
               
              </mat-toolbar>
              <input type="file" #fileInput id="uploadFile" name="uploadFile" (change)="getFileDetails($event)"
                accept="application/pdf" />
              <p style="color: red;font-size: small;">(File should be in pdf format only & less than 25MB.)</p>
              
            </div>
           
          </div>
          <div class="row col-md-12 overflow-hidden mt-2" *ngIf="disabledPage || paramId">
            <label class="col-md-3 label">Document:</label>
            <div class="col-md-3">
              <span (click)="viewFile(myFileArray,myFilesName)" style="color:red;cursor: pointer;"
                matTooltip="Download as PDF">{{myFilesName}}</span>
            </div>
          </div>
          <div class="row col-md-12 overflow-hidden">
            <label class="col-md-12">
              <b>Note:-</b>Please enclose all of the relevant documents to support the DPR,
              architectural blueprints and elevation diagrams, maps of the land
              signed by the competent authority etc. for the proposal.
            </label>
          </div>
        </form>
        <div class="form-group text-center mt-2" *ngIf="!disabledPage && !paramId">
          <button class="btn btn-success btn-sm mr-2" *ngIf="!isOtherDisabled" type="submit" (click)="submitDoc()">
            Save
          </button>
          <button class="btn btn-danger btn-sm mr-2" *ngIf="!isOtherDisabled" (click)="reset()" type="button">
            Reset
          </button>

        </div>
      </div>
      <div class="row col-md-12 overflow-hidden mt-2 border" *ngIf="paramId">
        <label class="col-md-7 label">Is DPR has been prepared and approved by the competent authority in the state:
          <mat-radio-group aria-label="Select an option" [disabled]="isOtherDisabled" (change)="onOptionChange($event.value)" [value]="defaultValue" style="margin-top: 20px;">
            <mat-radio-button [value]='true'>YES</mat-radio-button>
            <mat-radio-button [value]='false'>NO</mat-radio-button>
          </mat-radio-group>
        </label>
        <div class="col-md-3">
          <ng-container *ngIf="dprUploadIsVisible && !isOtherDisabled">
          <mat-toolbar>
            <input matInput placeholder="Please Upload DPR" name="name" style="font-size: small;"
              [value]="myFilesNameDPR" class="mat-label"  />

            <mat-icon style="color: forestgreen;">attach_file</mat-icon>
          </mat-toolbar>
          <input  type="file" #fileInput id="uploadFile" name="uploadFile" (change)="getFileDetailsDpr($event)"
            accept="application/pdf" />
          <p style="color: red;font-size: small;">(File should be in pdf format only & less than 25MB.)</p>
          </ng-container>
        </div>
        <ng-container *ngIf="myFilesNameDPR != ''">
        <button mat-icon-button color="accent" matTooltip="Delete DPR File" *ngIf="dprUploadIsVisible && !isOtherDisabled" (click)="deleteDoc()">
          <mat-icon>delete</mat-icon>
      </button>
      </ng-container>
        <div class="col-md-3"></div><div class="col-md-3"></div><div class="col-md-3"></div>
        <div class="col-md-3" *ngIf="isOtherDisabled">
          <span (click)="getDPRDoc(newDprfileId, newRevisedDprfileId)" style="color:red;cursor: pointer;"
          matTooltip="Download as PDF"  *ngIf="newRevisedDprfileId == null">{{myFilesNameDPR}}</span>
        </div>

      </div>
    
      <div class="row col-md-12 overflow-hidden mt-2 border" *ngIf="!dprCheckVisible && isVisibleUndertaking">
        <section class="example-section" >
          <mat-checkbox class="example-margin"  [(ngModel)]="dprChecked"><span style="text-wrap: wrap !important;">I undertake that DPR would be prepared and submitted after approval of the competent authority in the state, as per the proposal approved by the PAB or the revised proposal as per PAB Instruction, whichever is the case.</span></mat-checkbox>
        </section>
      </div>
      <div class="row col-md-12 overflow-hidden" *ngIf="newRevisedDprfileId != null" style="color: red;">Revised DPR for this proposal has already been uploaded using separate 
        module 'Revised DPR Upload'. Uploaded revised DPR document is attached herewith. Please check it. Please contact Ministry in case of any issue(s) with the DPR.!
        <span (click)="getDPRDoc(newDprfileId, newRevisedDprfileId)" style="color:blue; font-weight: 500; cursor: pointer;"
          matTooltip="Download as PDF"><u>{{myFilesNameDPR}}</u></span>
      </div>
      <div class="form-group text-center mt-2" *ngIf="paramId">
        <button class="btn btn-success btn-sm mr-2" type="button" *ngIf="!isOtherDisabled" (click)="submitDocument()">
          Save
        </button>
        <button class="btn btn-warning btn-sm mr-2" type="submit" *ngIf="!isOtherDisabledRevised" (click)="LockProposal('otherInformation')">
          Lock
      </button><span *ngIf="paramId === sharedService.revPrposal && isOtherDisabledRevised" class="ml-2" style="color:green">This Page is Locked</span>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>