mat-form-field.mat-form-field.d-block.block-height.mt-3.ng-tns-c117-0.mat-primary.ng-star-inserted.mat-form-field-type-mat-input.mat-form-field-appearance-outline.mat-form-field-can-float {
    width: 50% !important;
}

mat-form-field.mat-form-field.d-block.block-height.mt-3.ng-tns-c117-1.mat-primary.ng-star-inserted.mat-form-field-type-mat-input.mat-form-field-appearance-outline.mat-form-field-can-float {
    width: 50% !important;
}

p {
    margin-bottom: 0;
    padding      : 6px;
}

.table tr:nth-child(odd) td {
    background-color: #f5eded
}

.table tr:nth-child(even) td {
    background-color: #ffffff;
}


.tdInput {
    display: flex;
}

.panel {
    margin-bottom: 2px;
    border       : 0.5px solid #ddcbcb;
}