<mat-dialog-content *ngIf="element.changePass">
    <p style="color: green;font-weight: 600;" >
      Your password has been changed successfully. Please login to continue.
    </p>
  </mat-dialog-content>
  <mat-dialog-content *ngIf="element.resetPass">
    <p style="color: green;font-weight: 600;" >
      Your password has been reset successfully. Please login to continue.
    </p>
  </mat-dialog-content>
  <mat-dialog-content *ngIf="element.session">
    <p style="color: red;font-weight: 600;" >
      Session Expire. Please login to continue.
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="center" >
    <button mat-raised-button color="primary" tabindex="1" (click)="login()">{{confirmButtonText}}</button>
  </mat-dialog-actions>
  
  
  