<div class="container-fluid reg-page-bg pl-4 pr-4">
    <div class="form-group">
        <div class="form-row mr-0 ml-0">
            <div class="col-md-12 mt-0 badges p-2 mt-3">
                <div class="float-left">
                    <span class="text-info font-weight-bolder text-lg">Consolidated Proposal Forworded</span>

                </div>
            </div>
        </div>
        <div class="animated fadeInDown card shadow mb-4 pt-1 pb-2 pr-4 pl-4 bg-light">
            <div class="row col-md-12 overflow-hidden">
                <div class="col-md-2 pt-4">
                    <label>Show</label>
                    &nbsp;
                    <select
                        [(ngModel)]="sharedService.pageSize"
                        (ngModelChange)="onChange($event)"
                    >
                        <option
                            *ngFor="let data of sharedService.pageSizeOptions"
                            [value]="data"
                        >
                            {{data}}
                        </option>
                    </select>
                    entries
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-5 pt-4">
                    <label>Search:</label>
                    &nbsp;
                    <input
                        type="text"
                        size="35"
                        id='myInput'
                        (change)="updateResults()"
                        (keyup)="updateResults()"
                        [(ngModel)]="searchText"
                    >
                </div>
            </div>
            <div class="row col-md-12 overflow-hidden mt-1 table-responsive">
                <table class="table table-sm table-bordered">
                    <tbody>
                        <tr>
                            <th>S.No</th>
                            <th>State</th>
                            <th>eSign By</th>
                            <th>eSign Date Time</th>
                            <th>View Sign Consolidated Proposal</th>
                        </tr>
                        <ng-container *ngFor="let item of consolidatedList | paginate : {
                itemsPerPage: sharedService.pageSize,
                currentPage: sharedService.page
              };
        let i = index
        ">
                            <tr>
                                <td>{{i+sharedService.StartLimit+1}}</td>
                                <td>{{item.stateName}}</td>
                                <td>{{item.userId}}</td>
                                <td>{{item.digitallySignedDate}}</td>
                                <td>
                                    <span
                                        (click)="downloadPdf(item.stateId)"
                                        style="color: red;cursor: pointer;text-decoration: underline;"
                                    >
                                        {{item.digitallySignedDocumentName}}
                                    </span>
                                </td>
                            </tr>

                        </ng-container>
                    </tbody>
                </table>

            </div>
            <div class="row col-md-12 overflow-hidden">
                <div class="col-md-3">
                    Showing {{sharedService.StartLimit + 1}} to {{sharedService.pageData === -1?0:sharedService.pageData}}
                Of {{consolidatedList.length}} entries
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <pagination-controls
                        maxSize="12"
                        previousLabel="Prev"
                        nextLabel="Next"
                        responsive="true"
                        directionLinks="true"
                        autoHide="true"
                        (pageChange)="handlePageChange($event)"
                        screenReaderPaginationLabel="Pagination"
                        screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page"
                    ></pagination-controls>
                </div>
            </div>

        </div>

    </div>

    <div></div>
</div>
