
<div class="container-fluid reg-page-bg p-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="heading">About PM-USHA</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
    <mat-card class="border">
       
        <mat-card-content>
           
            <ol class="text-left list-style-cls">
            <li>Rashtriya Uchchatar Shiksha Abhiyan (RUSA) was a Centrally Sponsored
                Scheme to fund States/UTs institutions, with the vision to attain higher levels of
                access, equity, and excellence in the State higher education system with greater
                efficiency, transparency, accountability, and responsiveness. The first phase of
                the scheme was launched in 2013 and the second phase was launched in 2018.
                Now, in the light of the National Education Policy, RUSA scheme has been
                launched as Pradhan Mantri Uchchatar Shiksha Abhiyan (PM-USHA).
            </li>
            <li> It covers government and government-aided institutions of the States and UTs. As
                the demand for higher education is increasing continuously over the years, there
                has been an unprecedented expansion in the number of institutions, universities,
                and volume of students in the country. 
              </li>
              <li> As per the AISHE report 2020-21, there are 1,113 Universities, 43,796 Colleges,
                and 11,296 Stand Alone Institutions. There are 422 State Public Universities that
                have 41,836 affiliated colleges. 446 Universities are privately managed and 475
                Universities are located in rural areas, 17 are women-centric universities. 78.6%
                Colleges are privately managed (65% Private-unaided and 13.6% Private-aided).
                There are 35.8% of Colleges, which run only single programmes, out of which
                82.2% are privately managed.
              </li>
                <li> Total enrolment in higher education has been estimated to be 4.13 crores with
                2.12 crores boys and 2.01 crores females. Females constitute 48.7% of the total
                enrolment. Out of the total enrolment of 4.13 crores students, a vast majority of
                3.26 crores students are enrolled in Under-Graduate is an approx. 78.09% of the
                total enrolment. On the other hand, 11.5% of students are enrolled in Post-
                Graduation which is approximately 47.16 lakh students. There are 2,255 students
                enrolled in Integrated Ph.D. in addition to 2.11 lakh students enrolled in Ph.D.
                Level. To take advantage of the demographic dividend, there was a need for a
                concerted effort that would improve the quality and relevance of higher education
                and result in more employability. 
              </li>
                <li> Out of this whole universe of institutions, RUSA 1.0 &amp; 2.0 has catered to
                approximately 2500 institutions for improving access, equity, and quality under 16
                components. A total of 2,972 units were approved, out of which approx. 1000
                projects have been completed and the rest are ongoing. As per the previous
                evaluation reports of RUSA 1.0 &amp; 2.0, it is very much evident that the scheme has
                had a considerable and targeted impact.
              </li>
              <li> RUSA 1.0 and RUSA 2.0 have already worked diligently and there has been
                significant progress on a number of higher educational indicators like Gross
                Enrollment Ratio (GER), and Accreditation (Quality Reforms), Student-Teacher
                ratio, etc. However, the gap still remains vis-à-vis. access, inclusion, enrolment,
                quality enhancement, skilling, employability, technology, etc. and therefore, some
                new interventions are required for achieving the targets and reducing the gaps,
                ensuring better output and outcome.
                </li> 
                <li>PM-USHA aims to address the key gaps and issues identified in the Evaluation
                Report of Centrally Sponsored Schemes by the NITI Aayog. The report suggested
                that the subsumed scheme should be redesigned for rationalization and higher
                impact. The intention is to focus on improving graduate employability through
                funding for the promotion of market-linked courses, industry connects, student
                internships, etc; rigorously tracking and monitoring employability outcomes of
                HEIs; introducing skill-based education for students, and identification of the
                critical skill gaps in graduates across various disciplines, suitable skill-based, and
                employment-led vocational courses/ modules; promotion of technology and Open
                Distance Learning interventions in higher education institutions to leverage
                technology for promoting access and quality; support to institutes for improvement
                in NAAC accreditation grades; more emphasis on quality initiatives; promotion of
                higher uptake of e-learning/ virtual learning; tracking outputs/ outcomes of scheme
                interventions; promotion of community participation, gender sensitization, etc.
                </li>
                <li> National Education Policy 2020 (NEP) is a guiding force in preparing the base for
                PM-USHA. NEP has identified some of the major problems currently faced by the
                higher education system in India, which are: 
                <ul><li>A severely fragmented higher educational ecosystem; less emphasis on
                the development of cognitive skills and learning outcomes; 
                </li> 
                <li> A rigid separation of disciplines, early specialization, and streaming of
                students into narrow areas of study;
                <br>
                <li> Limited access particularly in socio-economically disadvantaged areas,
                with few HEIs that teach in local languages;
              </li>
                <li> Limited teacher and institutional autonomy; 
                <br>
                <li> Inadequate mechanisms for merit-based career management and
                progression of faculty and institutional leaders; 
              </li>
                <li> Lesser emphasis on research at most universities and colleges, and lack
                of competitive peer-reviewed research funding across disciplines;
              </li>
                <li> Suboptimal governance and leadership of HEIs; 
                </li>
                <li> An ineffective regulatory system; and large affiliating universities result in
                low standards of undergraduate education.
              </li>
            </ul>
            </li>
                <li> With the recent emergence of the NEP 2020 and recommendations of NITI
                Aayog, an effort has been made to give a new and energized structure to the
                upcoming phase of the scheme. It aims to cater to the five pillars of the NEP 2020,
                viz. accessibility, quality, equity, accountability, and affordability along with skill-
                based/ vocational education, employability, courses in emerging areas, industry-
                academia linkage, accreditation of un-accredited institutions, choice-based credit
                system, academic reforms, ODL &amp; ICT usage, barrier-free education and
                increasing GER. Under the PM-USHA priority would be given to the “Focus
                Districts”. 
                 
                PM-USHA would be focusing on the following:
                 
              </li>
                <strong>A.Equity, Access, and Inclusion: </strong>                 
                <br> <br>
              <li> As per the AISHE report (FY 2020-21), GER in higher education in India is 27.3,
                which is calculated for the 18-23 years of age group. GER for the male population
                is 26.7 and for females, it is 27.9. For Scheduled Castes, it is 23.1 and for
                Scheduled Tribes, it is 18.9 as compared to the National GER of 27.1. Scheduled
                Caste students constitute 14.2% and Scheduled Tribes students 5.8% of the total
                enrolment, 35.8% students belong to Other Backward Classes, and 44.2%
                students are from other communities. In addition, there are more than 78.6% of
                colleges running in the private sector; aided and unaided taken together, but it
                caters to only 65.5% of the total enrolment. About 78.09% of the students are
                enrolled in undergraduate level programs, 61.4% of colleges are located in rural
                areas, 10.5% of colleges are exclusively for females, 24.5% of the colleges are
                having an enrolment of less than 100, and only 4% of colleges have an enrolment
                of more than 3000. 
              </li>
             <li> The above statistics show the scope for enhancement in equity, access, and
                inclusion and hence the scheme focuses on equity initiatives and gender inclusion
                by providing adequate opportunities to underprivileged groups, and it promotes
                the inclusion of women, minorities, SCs/STs/OBCs, and specially-abled people in
                higher education, which will help to increase the GER. Furthermore, the language
                barrier for learners must be removed, and multilingualism, such as mother
                tongue/local and regional languages as a medium of instruction, should be
                promoted, increasing accessibility among different courses and allowing learners
                to develop an artistic, creative, cultural, and academic path.
              </li>
                <strong>B.Developing Quality Teaching &amp; Learning processes:</strong> 
                 <br> <br>
              <li> For providing a quality higher education a comprehensive, holistic, and integrated
                education ecosystem would be required which can be achieved through the
                inclusion of innovative and adaptable curricular structures, engaging innovative
                pedagogy, continuous formative assessment, and student support. This would
                also require innovative and interdisciplinary study combinations along with
                multiple entry and exit systems by eradicating rigid boundaries currently in place.
                This could be achieved by strengthening the existing higher education institutions,
                faculty, and students.
              </li>
              <li>PM-USHA would provide the facilities to the institution for upgrading the physical
                and digital infrastructure and also for the conversion of single-stream higher
                education institutions (HEIs) into multiple streams institutions. 
              </li>
              <li>To improve the quality of teaching, faculty training would be supported especially
                with the help of digital infrastructure. Institutions would also be facilitated to form
                alliances with Pandit Madan Mohan Malviya National Mission on Teachers and
                Teaching (PMMMNMTT) and University Grant Commission’s Human Resource
                Development Centres for Resource Sharing for the use of existing content in a
                digitized format for the enhancement of the teaching-learning process.
              </li>
              <li>For improving the quality of learning, the Multiple Entry &amp; Exit system, Choice-
                based Credit System (CBCS), and Academic Bank of Credit (ABC) would all be
                supported and prioritized sharply under PM-USHA. HEIs would be encouraged to
                adhere to the National Curriculum Framework provided by the UGC for better
                education for the learners.
              </li>  
                
                <strong>C.Accreditation of Non-Accredited Institutions &amp; Improving Accreditation:</strong> 
                 <br> <br>
              <li> Accreditation pushes institutions to meet and maintain higher standards in
                education, in turn, increases trust and confidence in them among the public and
                boosts accountability.
              </li>
               <li> National Assessment and Accreditation Council (NAAC), is a national
                accreditation agency that ensures the overall performance and quality of HEIs.
                NAAC conducts assessment and accreditation of HEIs such as colleges,
                universities, or other recognized institutions to derive an understanding of the
                ‘Quality Status’ of the institution. NAAC also evaluates the institutions for their
                conformance to the standards of quality in terms of their performance related to
                the educational processes and outcomes, curriculum coverage, teaching-learning
                processes, faculty, research, infrastructure, learning resources, organization,
                governance, and financial well-being, and student services. 
              </li>
              <li> The information available on the NAAC portal, as on 19.05.2023, reveals that out
                of 1113 universities, 43796 colleges, and 11,779 stand-alone institutions only 430
                universities and 9257 colleges have been NAAC accredited. Hence, it has
                emerged that there are a limited number of HEIs with NAAC accreditation, a few
                are with low CGPA, and some HEIs are without accreditation which will get hand-
                holding under the scheme for getting accreditation as well as enhancing
                accreditations from NAAC for fulfilling the criteria such as Curricular Aspects,
                Teaching-Learning Evaluation, Student Support and Progression, Government
                Leadership and Management, Institutional Values and Best Practices.
              </li>
                <strong>D.ICT-based Digital Infrastructure:</strong>   
                 <br> <br>
                <li> To ensure greater access to education, there is the significant importance of
                technology in bridging the language barrier between teachers and students,
                creating digital libraries, popularizing language learning as well as introducing the
                Open distance learning (ODL) programs. HEIs should be encouraged to design,
                develop, and roll out MOOCs for learners &amp; teachers as well as institutions and
                faculties would be mentored for enhancing the online teaching-learning processes
                and capacity building under programmes like PMMMNMTT, SWAYAM, SWAYAM
                Prabha, etc. 
              </li>
              <li> ICT efforts, like the National Digital Library, DigiLocker, e-Shodh Sindu, and virtual
                laboratories will use and give students a virtual platform for their learning
                opportunities. For enhancing the teacher’s capacity in ICT tools, the scheme
                would also concentrate on the faculty development programme. Accredited and
                non-accredited colleges are established connections with the present online
                
                
                teaching-learning materials offered by numerous national and international
                platforms to enhance learning opportunities. With the implementation of ICT
                Digital Infrastructure under PM-USHA, institutions would be encouraged to
                provide Wi-Fi facilities, smart classes, and virtual labs on the institute campuses.
                The Digital Infrastructure facilities will enable and empower students – teachers to
                achieve expected learning outcomes. 
                
              </li>
                <strong>E.Enhancing Employability through Multidisciplinarity :</strong> 
                 <br> <br>
              <li> Collaboration between industry and academia is key to catalyzing innovation and
                growth in career building. PM-USHA will encourage the HEIs to get linked with the
                Industry and the Market to strengthen skills, innovations, and employability. PM-
                USHA will focus on the establishment of employment cells to create linkages
                between Academia, Industry, and the Market. It also ensures rigorous tracking
                and monitoring of employability through market-linked courses and emphasizes
                the development of cognitive skills and learning outcomes.
                </li>
          </ol>
       

        </mat-card-content>
    </mat-card>
</div>
</div>
</div>
</div>