.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
}

.formcontrol1 {
   
    width: 20%;
   
}

.Valid {
    color: red;
    font-size: 12px;
  }
  .required-border {
    border: 2px solid red;
}

