<div
    class="container-fluid"
    style="background-color: #bae8f7; padding-top:75px;  padding-bottom:75px;"
>
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="headings">PM-USHA</h1>
                        <p class="per">
                            (Pradhan Mantri Uchchatar Shiksha Abhiyan)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container reg-page-bg p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mat-card class="border">
                    <mat-card-content>

                        <p class="text-justify cont">
                            Rashtriya Uchchatar
                            Shiksha Abhiyan (RUSA) was a Centrally Sponsored
                            Scheme to fund States/UTs institutions, with the vision to attain higher levels of
                            access, equity, and excellence in the State higher education system with greater
                            efficiency, transparency, accountability, and responsiveness. The first phase of
                            the scheme was launched in 2013 and the second phase was launched in 2018.
                            Now, in the light of the National Education Policy, RUSA scheme has been
                            launched as Pradhan Mantri Uchchatar Shiksha Abhiyan (PM-USHA).
                            <a
                                [routerLink]="routers.About"
                                class="btn btn-link"
                            >
                                View More...
                            </a>
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
    <!-- <div class="relative w-full bg-gray-900 text-white p-3 overflow-hidden">
        <div class="flex items-center justify-between">
        </div>
        <div class="marquee-container" [class.running]="isRunning">
                    <div class="marquee-content" (mouseenter)="isRunning = false"
                    (mouseleave)="isRunning = true">
                        🚨 <b>Important Notice:</b> The deadline for submission of MPR to HEIs/States/UTs is approaching! Ensure timely submission to avoid any delays. 📅 <b>Submit before {{deadlineDate}}.</b> Stay compliant and submit on time!
                    </div>
                </div>
    </div>
<cfs-gallery></cfs-gallery> -->
<router-outlet></router-outlet>
  
