<div class="container-fluid reg-page-bg p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="heading">SCOPE OF PM-USHA </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-card class="border">

                    <mat-card-content>
                        <ol class="text-left list-style-cls">
                            <li>The scope of the Scheme is as follows:</li>
                            <strong>Focus Districts:</strong><br><br>
                            <li> Under the scheme, priority would be given to the Focus Districts. The focus districts
                                shall be
                                identified by the concerned States/UTs subject to a maximum of 50% of their districts
                                considering
                                the lack of access to government colleges and the proportion of disadvantaged categories
                                such as
                                SC/STs/OBCs/Women and remote/aspirational districts.<br>
                            </li>
                            <li> States would identify the Focus Districts on the basis of the following indicators<br>


                                <ul>
                                    <li>Low GER</li>
                                    <li>Population proportion and enrollment proportion for Females, transgenders, SCs,
                                        STs and OBCs
                                    </li>
                                    <li>Aspirational/ Border Area/ Left Wing Extremism prone district</li>
                                    <li>Gender parity</li>
                                </ul>
                            </li>
                            <li> The recommendation of institutions shall be done by the State/ UT Governments/ State
                                Higher
                                Education Council (SHEC). The final decision shall be taken by the Centre. <br>
                            </li>

                            <strong>Institutions:</strong><br><br>
                            <li>One of the major scopes of PM-USHA would be helping institutions in getting/ improving
                                accreditation. The selection methodology shall be based on the challenge method. <br>
                            </li>
                            <li><strong>Process of Selection through Challenge Method:</strong> Although the components
                                proposed
                                under PM-USHA are open-ended but the number of units is limited so the selection of
                                institutions
                                would be done through the challenge method. The stages of selection through the
                                challenge method are
                                as follows:
                                <br><br>
                                <strong>A.First Stage: </strong> At the first stage the States/UTs would sign an MoU
                                with the MoE.
                                The MoU would include, inter alia, commitment from States regarding: <br><br>
                                <ul>
                                    <li>Implementation of NEP reforms</li>
                                    <li>Supporting all govt and govt aided institutions in applying for accreditation
                                    </li>
                                    <li> Adoption of Guidelines on National Credit Framework (NCrF) and Choice Based
                                        Credit System
                                        (CBCS) for Four Year Undergraduate Programme (FYUP).</li>
                                </ul>
                                <strong>B.Second Stage:</strong> The Universities, Colleges and Districts would be
                                shortlisted by
                                the State Governments by giving priority to the focus districts for getting support
                                under the
                                Component 2 i.e. 'Grants to Strengthen Universities' and Component 3, i.e. 'Grants to
                                Strengthen
                                Colleges,',
                                respectively. Further, the State Governments would also choose the list of districts by
                                giving
                                priority to the focus districts in their State, to be supported under Component 4 New
                                Model Degree
                                College and Component 5, i.e. 'Gender Inclusion and Equity Initiative,'. <br><br>
                                <strong>C.Third Stage:</strong> All submitted proposals would be first evaluated by the
                                Ministry of
                                Higher Education with the help of Technical Support Group; thereafter they would be
                                examined,
                                appraised, and approved by the Project Approval Board (PAB) on the basis of the points
                                mentioned in
                                the above
                                selection criteria and on the basis of the past performance of the States
                            </li>
                        </ol>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>