   
 
 
 <div class="form-group">

  <div class="form-row mr-0 ml-0">
      <div class="col-md-12 mt-0 badges p-2 mt-3">
          <div>
              <P class="text-info font-weight-bolder text-lg">Institution-wise details of Ongoing and Not yet started projects under 
              </P>  
          </div>
      </div>
  </div>
  </div>
  <!-- rusa 1 -->
  <div class="container-fluid reg-page-bg pl-4 pr-4 py-2" >
      <div class="animated fadeInDown card shadow mb-4 pt-1 pb-2 pr-4 pl-4 bg-light mt-3">
        <div class="row pt-1 pb-2 pr-2 pl-2 overflow-hidden">
          <div class="col-md-12">
               <div class="table-responsive">
                 <div class="row col-md-12 overflow-hidden">
            <table class="table table-sm table-bordered">
              <thead>
                <tr>
                  <th>S.No.</th>
                  <th>Component Name</th>
                  <th>Phase</th>
                  <th>Institution Name</th>
                  <th>District</th>
                  <th>Total Amount approved (Highest to lowest total amount approved)</th>
                  <th>% Age Physical Progress of the project as on (dropdown for selecting month/year)</th>
                  <th>Activities yet to be undertaken</th>
                 
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let data of paginatedData; let i = index">
                    <td>{{ i + 1 + pageIndex * pageSize }}</td>
                      <td>{{data.componentName}}</td>
                      <td style="white-space: nowrap;">{{data.rusaPhase}}</td>
                      <td>{{data.institutionName}}</td>
                      <td>{{data.districtName}}</td>
                      <td>{{data.totalAmountApproved}}</td>
                      <td>{{data.physicalProgressTotal}}</td>
                      <td>{{data.activitiesYetToBeUnderTaken}}</td>
                      
                  </tr>
                 
              </tbody>
            </table>
            <div class="row col-md-12 overflow-hidden" *ngIf="dataList.length > 0">
              <mat-paginator [length]="dataList.length"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
              aria-label="Select page of periodic elements"
              (page)="onPageChange($event)"  class="txt-center">
           
           
           
            </mat-paginator>

          </div>
        </div>
  
      </div>
    </div>
  </div>
</div>
  </div>
