.download-xls {
  font-size: 1rem;
  font-weight: 500;
  color: #2e7d32;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
    bottom: 0;
    right: 0;
}