.mat-form-field {

    width: 100%;
}

.matfield {
    display   : inline-block;
    position  : relative;
    text-align: left;
    width     : 110%;
}

.textA {
    position   : relative;
    margin-left: 42%;
}
table tbody td{
  width: 10% !important;
}

.pos-button{
    position: relative;
    top: 7px;
  }