<div class="container-fluid">

    <mat-card class="border" *ngIf="status === msg">
        <div class="row justify-content-center">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 50 50" xml:space="preserve" width="68px" height="68px" fill="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <circle style="fill:#25AE88;" cx="25" cy="25" r="25"></circle>
                    <polyline
                        style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;text-align: center;"
                        points=" 38,15 22,33 12,25 "></polyline>
                </g>
            </svg>
        </div>
        <h2 class="fs-1 ms-2 text-center" style="font-size: large;">e-Sign Successful</h2>
        <div class="fw-semibold d-flex justify-content-center align-items-center">
            <small>{{status}}</small>
        </div>
        <div class="form-group text-center mt-3">
            <button class="btn btn-danger btn-sm mr-2" (click)="downloadPdf()">Please click here to download</button>
            <button class="btn btn-warning btn-sm mr-2">
                <a [routerLink]="[routers.FUNDDEMAND,tabId]" style="color: #fff;">Close</a>
            </button>
        </div>

    </mat-card>

    <mat-card class="border" *ngIf="status !== msg">
        <div class="row justify-content-center">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 50 50" xml:space="preserve" width="68px" height="68px" fill="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <circle style="fill:#D75A4A;" cx="25" cy="25" r="25"></circle>
                    <polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;text-align: center;"
                        points="16,34 25,25 34,16 "></polyline>
                    <polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;text-align: center;"
                        points="16,16 25,25 34,34 "></polyline>
                </g>
            </svg>
        </div>
        <h2 class="fs-1 ms-2 text-center" style="font-size: medium;">e-Sign failed</h2>
        <div class="fw-semibold d-flex justify-content-center align-items-center">
            <small>{{status}}</small>
        </div>
        <div class="form-group text-center mt-3">
            <button class="btn btn-warning btn-sm mr-2">
                <a [routerLink]="[routers.FUNDDEMAND,tabId]" style="color: #fff;">Close</a>
            </button>
        </div>
    </mat-card>


</div>


